@model SportsWebPt.Platform.Web.Application.UserDashboardViewModel
@{
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
    Model.AreaBundles.Add("~/bundles/dashboardapplib");
}

<h2>Dashboard</h2>
