@model SportsWebPt.Platform.Web.Application.UserDashboardViewModel
@{
    Model.AreaBundles.Add("~/bundles/dashboardapplib");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}

<h2>@Model.User.firstName's Dashboard</h2>
<h4>@Model.User.gender | Language: @Model.User.locale</h4>

