@{
    ViewBag.Title = "tester";
}


<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdn.sublimevideo.net/js/dff0nbgo.js"></script>
    </head>
    <body>
        <h2>tester</h2>
<video id="J82D94yfWKE" class="sublime" width="640" height="360" data-uid="J82D94yfWKE" data-youtube-id="J82D94yfWKE" preload="none">
</video>
    </body>
</html>


