<div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-divider-research"><i class="icon-sportswebpt-medkit"></i><span ng-bind="injury.commonName"><span class="de-em"></span></span> <small ng-bind="injury.medicalName"></small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2 class="title-divider-research"><span>Desciption <span class="de-em"></span></span> <small>Informative write up describing injury</small></h2>
        </div>
        <div class="col-md-5">
            <h2 class="title-divider-research"><span>Animation <span class="de-em"></span></span> <small>Medical animation for the affected area</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7"><span ng-bind-html="injury.description"></span></div>
        <div class="col-md-5">
            <div view-medica-display class="viewmedica-container"></div>
        </div>
    </div>
    <div class="row push-down-md">
        <div class="col-md-7">
            <h2 class="title-divider-research"><span>Potential <span class="de-em">Causes</span></span> <small>Common causes known to contribute</small></h2>
            <div class="container">
                <div ng-show="injury.lifestyleCauses.length > 0">
                    <h5 class="title-divider-no-bar"><span>Lifestyle <span class="de-em">Contributors</span></span> <small></small></h5>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="cause in injury.lifestyleCauses">
                                <td ng-bind="cause.description"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div ng-show="injury.physiologicalCauses.length > 0">
                    <h5 class="title-divider-no-bar"><span>Physiological <span class="de-em">Contributors</span></span> <small></small></h5>
                    <table class="table table-striped">
                        <tbody>
                            <tr ng-repeat="cause in injury.physiologicalCauses">
                                <td ng-bind="cause.description"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class="title-divider-research"><span>Common <span class="de-em">Signs</span></span> <small>Common signs for injury</small></h2>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="sign in injury.signs">
                        <td ng-bind="sign.description"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row push-down-md">
        <div class="col-md-7">
            <h2 class="title-divider-research"><span>Recovery <span class="de-em"> Recommendation</span></span><small>Our thoughts on how to get better</small></h2>
        </div>
        <div class="col-md-5">
            <h2 class="title-divider-research"><span>Optional <span class="de-em"> Treatments</span></span><small>Other types of treatments you can try</small></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <span ng-bind-html="injury.recovery"></span>
        </div>
        <div class="col-md-5">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="treatment in injury.treatments">
                        <td>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><span ng-bind="treatment.name"></span></h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <span ng-bind-html="treatment.description"></span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row push-down-md">
        <div class="col-md-12">
            <h2 class="title-divider-research"><span>Prognosis <span class="de-em"></span></span> <small>How to gauge your injury severity</small></h2>
            <div class="row pricing-stack">
                <div class="col-md-4">
                    <div class="well" ng-hide="injury.bestCase  == null">
                        <h6 class="title"><span class="em">Best Case</span></h6>
                        <p class="price prognosis-best"><span class="prognosis" ng-bind="injury.bestCase.duration"></span></p>
                        <div ng-bind="injury.bestCase.description"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="well" ng-hide="injury.delayedRecovery  == null">
                        <h6 class="title"><span class="em">Delayed Recovery</span></h6>
                        <p class="price prognosis-delayed"><span class="prognosis" ng-bind="injury.delayedRecovery.duration"></span></p>
                        <div ng-bind-html="injury.delayedRecovery.description"></div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="well" ng-hide="injury.worstCase == null ">
                        <h6 class="title"><span class="em">Worst Case</span></h6>
                        <p class="price prognosis-worst"><span class="prognosis" ng-bind="injury.worstCase.duration"></span></p>
                        <div ng-bind-html="injury.worstCase.description"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2 class="title-divider-research"><span>Recovery <span class="de-em"></span> Plans</span> <small>Optimized routines for your recovery</small></h2>
        </div>
    </div>
</div>

