<table class="table table-striped">
    <tbody ng-repeat="item in equipment">
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Equipment Id: </strong><span ng-bind="item.id"></span></label>
                    </div>
                    <div class="col-md-6 pull-right">
                        <button class="btn-danger" ng-click="bindSelectedEquipment(item)">Edit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Name: </strong><span ng-bind="item.commonName"></span></label>
                    </div>
                    <div class="col-md-6">
                        <label><strong>Category: </strong><span ng-bind="item.category"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Product Information: </label><span ng-bind-html="item.productInformation"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Price Range: </strong><span ng-bind="item.priceRange"></span></label>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
