
<div id="navigation" class="wrapper">
    <!--Branding & Navigation Region-->
    <div class="navbar-static-top">
            <div class="header">
                <div class="header-inner container">
                    <div class="row">
                        <div class="col-md-8">
                            <a class="navbar-brand" href="/#!"><img class="header-logo" style="padding-right: 16px;" src="../../Content/images/logoFooterDark.png" /></a>
                            <div class="slogan" style="margin-top: 16px;">Guided, effective, always accessible</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar" id="master-header">
                <div class="container" clingify-plugin>
                    <!--
        mobile collapse menu button
        - data-toggle=" toggle"=default bs menu
             - data-toggle="jpanel-menu" =jPanel menu
             -->
                    <a class="navbar-btn" data-toggle="jpanel-menu" jpanel-plugin data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a>

                    <!--user menu-->
                    <div class="btn-group user-menu pull-right" ng-show="!isAuthenticated">
                        <button class="btn btn-primary signup" ng-click="showSignUp()">Sign Up</button> <button class="btn btn-primary dropdown-toggle" ng-click="showLogin()">Login</button>
                    </div>

                    <div class="btn-group user-menu pull-right" ng-hide="!isAuthenticated">
                        <ul class="nav navbar-nav">
                            <li style="min-width: 200px" class="menu-drop">
                                <a class="dropdown-toggle" data-toggle="dropdown" data-target="#accountMenu">
                                    <span class="nav-icon"><i class="icon-sportswebpt-caret-down"></i>&nbsp;<span ng-bind="currentUser.emailAddress"></span></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a ui-sref="patient.dashboard">My Dashboard</a></li>
                                    <li ng-show="currentUser.isTherapist || currentUser.isClinicManager" class="divider"></li>
                                    <li ng-show="currentUser.isTherapist"><a ui-sref="therapist.dashboard">Therapist Dashboard</a></li>
                                    <li ng-show="currentUser.isClinicManager"><a ui-sref="clinic.manager">Clinic Management</a></li>
                                    <li ng-show="currentUser.isAdmin" class="divider"></li>
                                    <li ng-show="currentUser.isAdmin"><a ui-sref="admin.dashboard">Admin Section</a></li>
                                    <li class="divider"></li>
                                    <li><a ng-click="logOut()">Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>


                    <!--everything within this div is collapsed on mobile-->
                    <div class="navbar-collapse collapse">
                        <!--main navigation-->
                        <ul class="nav navbar-nav">
                                <li class="home-link"><a href="/"><img id="menu-logo" src="../../Content/images/logoMenu.png" class="menu-logo" /></a></li>
                                <li><a href="/#!/examine"><span class="nav-icon"><i class="icon-sportswebpt-stethoscope"></i> Examine</span></a></li>
                                <li><a href="/#!/research"><span class="nav-icon"><i class="icon-sportswebpt-magnifier"></i> Research</span></a></li>
                                <li><a href="/#!/research/locations"><span class="nav-icon"><i class="icon-sportswebpt-city-scape1 "></i> Locate</span></a></li>
                            </ul>
                    </div>
                </div>
        </div>
    </div>
</div>


