@using System.Web.Optimization

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>SportsWebPT</title>
    
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        
        
        <style>
      body {
        padding-top: 44px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

    </head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">SportsWebPT</a>
          <div class="nav-collapse collapse pull-right">
            <ul class="nav">
              <li><a href="#about">Store</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#contact">Contact Us</a></li>
              <li><a href="#">Blog</a></li>
            </ul>
              <button type="submit" class="btn">Log In</button>
              <button type="submit" class="btn">Sign Up</button>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <header class="hero-unit" id="mainsplash">
            <h1>Your recovery</h1>
            <h2>Guided, effective, always accessible</h2>
            <p>&nbsp;</p>
            <p><a class="btn btn-success btn-large">Get started &raquo;</a>
            <p>&nbsp;</p>
        </header>
 
        <!-- Example row of columns -->
        <div class="row">
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe021;" class="splash-icon"></span>
                <span class="screen-reader-text">Research</span>
                <h2>Research</h2>
                <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
                <p><a class="btn" href="#">Learn more &raquo;</a></p>
            </div>
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe008;" class="splash-icon"></span>
                <span class="screen-reader-text">Plan</span>
                <h2>Plan</h2>
                <p>Organize your own recovery using pre-configured  plans for common injuries. Get feedback and advice from professionals to augment you plan based on your progression </p>
                <p><a class="btn" href="#">Learn more &raquo;</a></p>
            </div>
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe018;" class="splash-icon"></span>
                <span class="screen-reader-text">Conference</span>
                <h2>Conference</h2>
                <p>Setup one on one video conferences with our licensed therapists to further diagnosis injuries, assist with exercises or evaluate progression.</p>
                <p><a class="btn" href="#">Learn more &raquo;</a></p>
            </div>
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe000;" class="splash-icon"></span>
                <span class="screen-reader-text">Locate</span>
                <h2>Locate</h2>
                <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
                <p><a class="btn" href="#">Learn more &raquo;</a></p>
            </div>

        </div>

        <hr>

        <footer>
            <p>&copy; SportsWebPT 2013</p>
        </footer>
    </div>

    @Scripts.Render(
        "~/bundles/jquery", 
        "~/bundles/jsextlibs", 
        "~/bundles/jsapplibs",
        "~/Scripts/main.js"
    )

</body>
</html>
