<div id="examine-symptom-detail" class="container" >
    <div>
        <h3><strong>Areas of Discomfort</strong></h3>
    </div>
    <div class="row push-down-md">
        <div class="col-md-3" id="discomfortAreas">
            <div style="height: 100px">
                <ul id="examine-detail-tab-nav" class="nav nav-pills nav-stacked">
                    <li ng-repeat="region in selectedAreas track by $index" ng-class="{true: 'active'}[$index === 0]">
                        <a ng-click="selectArea(region)" data-toggle="tab"><span ng-bind="region.displayName"></span></a>
                    </li>
                </ul>
            </div>
            <div class="push-down-lg text-center">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <button class="btn btn-default btn-block" ui-sref="public.examine.skeleton">&laquo; Back</button>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-default btn-block" ng-click="submitReport()">Next &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
        <examine-symptom-listing></examine-symptom-listing>
    </div>
</div>



