<div id="examine-detail-container" class="col-md-9 well">
    <div ng-repeat="bodyPart in bodyParts">
        <div class="row">
            <div class="col-md-2"><h4 ng-bind="bodyPart.commonName"></h4></div>
            <div class="col-md-9 well" style="background-color: #ffffff">
                <div class="row push-down-md" ng-repeat="symptom in bodyPart.potentialSymptoms">
                    <div class="col-md-4">
                        <h4 style="margin-left: 20px; vertical-align: text-top;" ng-bind="symptom.description"></h4>
                    </div>
                    <div class="col-md-8">
                        <div class="animate-switch-container" ng-switch on="symptom.renderTemplate">
                            <small-scale-slider ng-switch-when="examine.slider.five" given-response="symptom.givenResponse"></small-scale-slider>
                            <medium-scale-slider ng-switch-when="examine.slider.ten" given-response="symptom.givenResponse"></medium-scale-slider>
                            <duration-list ng-switch-when="examine.duration.dropdown" given-response="symptom.givenResponse"></duration-list>
                            <feels-like-list ng-switch-when="examine.feels.multi" given-response="symptom.givenResponse"></feels-like-list>
                            <while-list ng-switch-when="examine.while.multi" given-response="symptom.givenResponse"></while-list>
                            <boolean-response ng-switch-when="examine.radio.bool" name="{{symptom.id}}" given-response="symptom.givenResponse"></boolean-response>
                            <div ng-switch-default></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="push-down-lg text-center">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <button class="btn btn-primary btn-block" ui-sref="public.examine.skeleton">&laquo; Back</button>
            </div>
            <div class="col-md-5">
                <button class="btn btn-primary btn-block" ng-click="submitReport()">Next &raquo;</button>
            </div>
        </div>
    </div>
</div>