<table class="table table-striped">
    <tbody ng-repeat="plan in plans">
        <tr>
            <td>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Plan Id: </strong><span ng-bind="plan.id"></span></label>
                    </div>
                    <div class="col-md-6">
                        <button class="btn-danger pull-right" ng-click="bindSelectedPlan(plan)">Edit</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Name: </strong><span ng-bind="plan.routineName"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Description: </label><span ng-bind-html="plan.description"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Instructions: </label><span ng-bind-html="plan.instructions"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Structures: </strong><span ng-bind="plan.structuresInvolved"></span></label>
                    </div>
                    <div class="col-md-6">
                        <label><strong>Workout Time: </strong><span ng-bind="plan.duration"></span> minutes</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label><strong>Tags: </strong><span ng-bind="plan.tags"></span></label>
                    </div>
                    <div class="col-md-3">
                        <label><strong>PageName: </strong><span ng-bind="plan.pageName"></span></label>
                    </div>
                    <div class="col-md-3">
                        <label><strong>Animation: </strong><span ng-bind="plan.animationTag"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div>
                            <label><strong>Category: </strong></label>
                            <ul>
                                <li ng-repeat="category in plan.categories" ng-bind="category"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div>
                            <label><strong>BodyRegions: </strong></label>
                            <ul>
                                <li ng-repeat="bodyRegion in plan.bodyRegions" ng-bind="bodyRegion.name"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <label><strong>Exercises: </strong></label>
                            <table class="table table-striped">
                                <thead>
                                <th>Name</th>
                                <th>Order</th>
                                <th>Sets</th>
                                <th>Reps</th>
                                <th>Per Day</th>
                                <th>Per Week</th>
                                <th>Hold</th>
                                <th>Type</th>
                                </thead>
                                <tbody ng-repeat="exercise in plan.exercises">
                                    <tr>
                                        <td ng-bind="exercise.medicalName + ' [' + exercise.id + ']'"></td>
                                        <td ng-bind="exercise.order"></td>
                                        <td ng-bind="exercise.sets"></td>
                                        <td ng-bind="exercise.repititions"></td>
                                        <td ng-bind="exercise.perDay"></td>
                                        <td ng-bind="exercise.perWeek"></td>
                                        <td ng-bind="exercise.holdFor"></td>
                                        <td ng-bind="exercise.holdType"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
