<div style="display: none" data-bind="visible: isVisible" id="user-dashboard-page" >
<h2>My Dashboard</h2>
<div class="row push-down-md">
    <div class="col-md-3" id="discomfortAreas">
        <ul id="examine-detail-tab-nav" class="nav nav-pills nav-stacked">
            <li><a href="#videos">Videos</a></li>
            <li><a href="#exercises">Exercises</a></li>
            <li><a href="#plans">Plans</a></li>
            <li><a href="#injuries">Injuries</a></li>
        </ul>
    </div>
    <div id="dashboard-container" class="col-md-9">
        <section id="videos">
            <h3>Favorite Videos</h3>
            <div>
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                    </thead>
                        <tbody data-bind="foreach: currentUser.videos">
                        <tr>
                            <td data-bind="text: entityName"></td>
                        </tr>
                    </tbody>            
                </table>
            </div>
        </section>
        <section id="exercises">
            <h3>Favorite Exercises</h3>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                </thead>
                    <tbody data-bind="foreach: currentUser.exercises">
                    <tr>
                        <td data-bind="text: entityName"></td>
                    </tr>
                </tbody>            
            </table>
        </section>
        <section id="plans">
            <h3>Favorite Plans</h3>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                </thead>
                <tbody data-bind="foreach: currentUser.plans">
                <tr>
                    <td data-bind="text: entityName"></td>
                </tr>
            </tbody>            
            </table>
        </section>
        <section id="injuries">
            <h3>Favorite Injuries</h3>
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                </thead>
                <tbody data-bind="foreach: currentUser.injuries">
                <tr>
                    <td data-bind="text: entityName"></td>
                </tr>
            </tbody>            
            </table>
        </section>
    </div>
</div>
</div>

