<div class="view container" id="main-splash-panel">
     <header class="jumbotron" id="mainsplash">
        <h1>Your recovery</h1>
        <h2>Guided, effective, always accessible</h2>
        <p>&nbsp;</p>
        <p><a class="btn btn-info btn-lg col-md-3" href="#examine" >Get started &raquo;</a></p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
    </header>
    <div class="row text-center">
        <div class="col-md-3">
            <span aria-hidden="true" data-icon="&#xf0f1;" class="splash-icon"></span>
            <span class="screen-reader-text">Examination</span>
            <h2>Examine</h2>
            <p>Use our self examination wizard designed by professionals to pin point your injury.Use our self examination wizard designed by professionals to pin point your injury.</p>
        </div>
        <div class="col-md-3">
            <span aria-hidden="true" data-icon="&#xe021;" class="splash-icon"></span>
            <span class="screen-reader-text">Research</span>
            <h2>Research</h2>
            <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
        </div>
        <div class="col-md-3">
            <span aria-hidden="true" data-icon="&#xe047;" class="splash-icon"></span>
            <span class="screen-reader-text">Plan</span>
            <h2>Plan</h2>
            <p>Organize your own recovery using pre-configured  plans for common injuries. Get feedback and advice from professionals to augment you plan based on your progression </p>
        </div>
        <div class="col-md-3">
            <span aria-hidden="true" data-icon="&#xe055;" class="splash-icon"></span>
            <span class="screen-reader-text">Conference</span>
            <h2>Conference</h2>
            <p>Setup one on one video conferences with our licensed therapists to further diagnosis injuries, assist with exercises or evaluate progression.</p>
        </div>
    </div>
    <div class="row text-center push-down-md">
        <div class="col-md-3">
            <a class="btn btn-default" href="#examine">Start Describing</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" href="#research">Start Learning</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" href="#">Start Planning</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-default" href="#">Learn more</a>
        </div>
    </div>
</div>
