@{
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}

<master-header></master-header>

<div id="master-container" class="content-container-panel container">
    @RenderBody()
</div>

<master-footer></master-footer>
