@model SportsWebPt.Platform.Web.Application.ResearchExerciseViewModel
@{
    Model.AreaBundles.Add("~/bundles/researchexercisepage");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}
<input type="hidden" id="selected-exercise" value="@Html.Raw(Json.Encode(Model.Exercise))"/>

<div>
    <h2><span aria-hidden="true" data-icon="&#xe007;" class="header-icon" /> Exercise</h2>
</div>

    <div class="container well" id="research-exercise-page">
        <h3 data-bind="text: exercise.name"></h3>
        <hr class="examine-report-hr"/>
         <div class="row">
            <div class="col-md-10">
                <label><strong>Description: </strong><span data-bind="text: exercise.description"></span></label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <label><strong>Duration: </strong><span data-bind="text: exercise.duration"></span> minutes</label>
            </div>
            <div class="col-md-5">
                <label><strong>Difficulty: </strong><span data-bind="text: exercise.difficulty"></span></label>
            </div>
        </div>
       <div class="row">
        <div class="col-md-2">
            <h3>Equipment</h3>
            <table class="table table-striped">
                <tbody data-bind="foreach: exercise.equipment">
                    <tr>
                        <td data-bind="text: commonName"></td>
                    </tr>
                </tbody>            
            </table>
        </div>
        <div class="col-md-7">
            <h3>Video</h3>
            <div data-bind="foreach:exercise.videos">
                <video data-bind="attr: { id: 'video-' + id(), 'data-uid': youtubeVideoId, 'data-youtube-id': youtubeVideoId }" class="sublime" width="640" height="360" preload="none">
                </video>       
            </div>
        </div>
    </div>    
</div>


