@model SportsWebPt.Platform.Web.Application.ResearchExerciseViewModel
@{
    Layout = "_researchStaticLayout.cshtml";
}
<input type="hidden" id="selected-exercise" value="@Html.Raw(Json.Encode(Model.Exercise))"/>


<div class="container" kendo-cloak="{{isLoading}}" id="research-exercise-view" ng-controller="ExerciseViewController">
    <research-nav-bar></research-nav-bar>
    <exercise-description></exercise-description>
    <exercise-detail></exercise-detail>
</div>

