@model SportsWebPt.Platform.Web.Application.ResearchViewModel
@{
    Model.AreaBundles.Add("~/bundles/researchapplib");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}

<div>
    <h2><span aria-hidden="true" data-icon="&#xe021;" class="header-icon" /> Research</h2>
</div>

<div class="container content-container-panel" id="research-main-panel">
    
    <div class="view container" id="research-nav-panel">
        <div class="row">
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xf0fa;" class="research-nav-icon"></span>
                <span class="screen-reader-text">Injuries</span>
                <h3>Injuries</h3>
                <p>Use our self examination wizard designed by professionals to pin point your injury.</p>
                <p><a class="btn" href="#injuries">Learn more &raquo;</a></p>
            </div>
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe001;" class="research-nav-icon"></span>
                <span class="screen-reader-text">Rehab Plans</span>
                <h3>Rehab Plans</h3>
                <p>Organize your own recovery using pre-configured  plans for common injuries. Get feedback and advice from professionals to augment you plan based on your progression </p>
                <p><a class="btn" href="#plans">Learn more &raquo;</a></p>
            </div>
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe007;" class="research-nav-icon"></span>
                <span class="screen-reader-text">Exercises</span>
                <h3>Exercises</h3>
                <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
                <p><a class="btn" href="#exercises">Learn more &raquo;</a></p>
            </div>
            <div class="span3">
                <span aria-hidden="true" data-icon="&#xe051;" class="research-nav-icon"></span>
                <span class="screen-reader-text">PT Clinics</span>
                <h3>PT Clinics</h3>
                <p>Setup one on one video conferences with our licensed therapists to further diagnosis injuries, assist with exercises or evaluate progression.</p>
                <p><a class="btn" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

    <div class="view container" id="research-injury-panel">
        <div class="container">
            <span aria-hidden="true" data-icon="&#xf0fa;" class="research-nav-icon"> Injuries</span>
            <hr class="examine-report-hr"/>
        </div>
            
        <div class="row">
            <div class="span3">
                <span class="screen-reader-text">Injuries</span>
                <h3>Injuries</h3>
                <p>Use our self examination wizard designed by professionals to pin point your injury.</p>
                <p><a class="btn" href="#">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>
    
    
    <div class="view container" id="research-exercise-panel">
        <div class="container-fluid">
            <span aria-hidden="true" data-icon="&#xe007;" class="research-nav-icon"> Exercises</span>
            <hr class="examine-report-hr"/>
            <div class="row-fluid">
                <div class="span3" style="border-right-width: 2px; border-right-color: #333333; border-right-style: solid;">
                    <h3>Body Regions</h3>
                    <ul style="list-style-type: none" data-bind="foreach: bodyRegions">
                        <li>
                            <span class="label label-info" data-bind="text: name"></span>
                        </li>
                    </ul>
                </div>
                <div class="span9">
                    <div class="accordion" id="recover-plan-accordion">
                        <section data-bind="template: { name: briefExerciseTemplate, foreach: filteredExercises }"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
