@model SportsWebPt.Platform.Web.Application.ResearchInjuryViewModel
@{
    Model.AreaBundles.Add("~/bundles/researchinjurypage");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}
<input type="hidden" id="selected-injury" value="@Html.Raw(Json.Encode(Model.Injury))"/>

<div>
    <h2><span aria-hidden="true" data-icon="&#xe001;" class="header-icon" /> Injury</h2>
</div>

   <div class="container well" id="research-injury-page">
        <h3 data-bind="text: injury.commonName"></h3>
        <hr class="examine-report-hr"/>
        <div><strong>Medical Name: </strong><span data-bind="text: injury.medicalName"></span></div>
        <div><span>&nbsp;</span></div>
        <div><p data-bind="text: injury.openingStatement"></p></div>
        <div class="row">
            <div class="col-md-3">
                <h3>Causes</h3>
                <table class="table table-striped">
                    <tbody data-bind="foreach: injury.causes">
                        <tr>
                            <td data-bind="text: description"></td>
                        </tr>
                    </tbody>            
                </table>
            </div>
            <div class="col-md-3">
                <h3>Signs</h3>
                <table class="table table-striped">
                    <tbody data-bind="foreach: injury.signs">
                        <tr>
                            <td data-bind="text: description"></td>
                        </tr>
                    </tbody>            
                </table>
            </div>
        </div>
       <div>
        <h3>Recovery Plans</h3>
        <section id="recovery-plan-container" data-bind="template: { name: recoveryPlanTemplate, data: injury.plans }"></section>
       </div>
   </div>


