@model SportsWebPt.Platform.Web.Application.ResearchInjuryViewModel
@{
    Model.AreaBundles.Add("~/bundles/researchinjurypage");
    Layout = "~/Views/Shared/_masterLayout.cshtml";
}
<input type="hidden" id="selected-injury" value="@Html.Raw(Json.Encode(Model.Injury))"/>

<div>
    <h2><span class="header-icon"><i class="icon-sportswebpt-medkit"></i> Injury</span></h2>
</div>
<div class="container well" id="research-injury-page">
    <!-- ko with: injury -->
    @{ Html.RenderPartial("~/views/shared/_injuryDetail.cshtml"); }
    <!-- /ko -->
</div>


