@model SportsWebPt.Platform.Web.Application.ResearchPlanViewModel
@{
    Model.AreaBundles.Add("~/bundles/researchplanpage");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}
<input type="hidden" id="selected-plan" value="@Html.Raw(Json.Encode(Model.Plan))"/>

<div>
    <h2><span aria-hidden="true" data-icon="&#xe001;" class="header-icon" /> Plan</h2>
</div>

<div class="container well" id="research-plan-page">
    <h3 data-bind="text: plan.routineName"></h3>
    <hr class="examine-report-hr"/>
    <div class="row">
        <div class="col-md-5">
            <label><strong>Category: </strong><span data-bind="text: plan.category"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <label><strong>Description: </strong><span data-bind="text: plan.description"></span></label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <label><strong>Muscles Involved: </strong><span data-bind="text: plan.musclesInvolved"></span></label>
        </div>
        <div class="col-md-5">
            <label><strong>Duration: </strong><span data-bind="text: plan.duration"></span> minutes</label>
        </div>
    </div>
    <div class="tabbable" data-bind="attr: { id: 'exercises-' + plan.id() }">
        <ul data-bind="foreach: plan.exercises" class="nav nav-tabs exercise-tab-nav">
            <li><a class="exercise-tab-item" data-bind="attr: { href: '#exercise-' + id() , title: 'Exercise ' + $index() }, text: 'Exercise ' + $index() " data-toggle="tab"></a></li>
        </ul>
        <div class="tab-content exercise-tab-pane" data-bind="foreach: plan.exercises">
                <div class="tab-pane" data-bind="attr: { id: 'exercise-' + id() }">
                    <div><strong>Name: </strong> <span data-bind="text: name"></span></div>
                    <div><strong>Difficulty: </strong><span data-bind="text: difficulty"></span></div>
                    <div><strong>Sets: </strong><span data-bind="text: sets"></span></div>
                    <div><strong>Reps: </strong><span data-bind="text: repititions"></span></div>
                    <div class="row">
                        <div class="col-md-2">
                            <h3>Equipment</h3>
                            <table class="table table-striped">
                                <tbody data-bind="foreach: equipment">
                                    <tr>
                                        <td data-bind="text: commonName"></td>
                                    </tr>
                                </tbody>            
                            </table>
                        </div>
                        <div class="col-md-7">
                            <h3>Video</h3>
                            <div data-bind="foreach: videos">
                                <video data-bind="attr: { id: 'video-' + id(), 'data-uid': youtubeVideoId , 'data-youtube-id': youtubeVideoId }" class="sublime" width="640" height="360" preload="none">
                                </video>        
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
</div>
