@model SportsWebPt.Platform.Web.Application.ResearchPlanViewModel
@{
    Layout = "_researchStaticLayout.cshtml";
}
<input type="hidden" id="selected-plan" value="@Html.Raw(Json.Encode(Model.Plan))"/>

<div class="container" id="research-plan-view" kendo-cloak="{{isLoading}}" ng-controller="PlanViewController">
    <research-nav-bar></research-nav-bar>
    <plan-description></plan-description>
    <plan-exercise-listing></plan-exercise-listing>
</div>

