<div id="examine-skeleton">
    <div class="row">
        <div class="col-md-11 pull-left">
            <h3><strong>Please click on area(s) of discomfort...</strong></h3>
        </div>
    </div>
    <div class="row push-down-sm" kendo-cloak="{{isLoading}}">
        <div class="col-md-3">
            <div class="well">
                <h4 class="title-divider-research"><span>Selected <span class="de-em">Areas</span></span><small>(Click area to undo)</small></h4>
                <div style="min-height: 84px;">
                    <div class="row" ng-repeat="region in selectedAreas">
                        <a ng-click="onSelectedRegion(region, selectedAreas)">
                            <div class="col-md-2"><i class="selected-area-number-icon" ng-class="'icon-sportswebpt-number1' + ($index + 1) "></i></div>
                            <div class="col-md-10"><h4><span ng-bind="region.displayName"></span></h4></div>
                        </a>
                    </div>
                </div>
                <div class="push-down-sm">
                    <button class="btn btn-block" ng-class="selectedAreas.length == 0 ? 'btn-info' : 'btn-primary'" ng-disabled="selectedAreas.length == 0" ui-sref="public.examine.symptoms">Next &raquo;</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul id="skeleton" class="img-rounded">
                <li ng-repeat="region in symptomaticRegions" id="{{region.cssClassName}}"
                    ng-click="onSelectedRegion(region, selectedAreas)"
                    ng-mouseover="areaMouseover(region, selectedAreas)"
                    ng-mouseout="areaMouseout(region, selectedAreas)"
                    ng-class="{'skeleton-selected' : isSelected(region, selectedAreas)}"
                    popover="{{formatBodyParts(region)}}", popover-trigger="mouseenter", popover-placement="right" popover-title="{{region.displayName}}">
                </li>
            </ul>
        </div>
    </div>
</div>
