<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.netfx40.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <variable name="TimeStamp" value="${date:format=MM-dd-yy@HH\:mm\:ss}"/>
  <targets async="true">
    <target name="ConsoleHost" xsi:type="Console" layout="${TimeStamp} === ${level:uppercase=true} === ${message} === ${exception}" />
    <target xsi:type="File" name="ApplicationLogFile" createDirs="true" maxArchiveFiles="10" archiveNumbering="Rolling" archiveEvery="Hour"
            archiveFileName="${basedir}\logs\archive\application_{#####}.log" fileName="${basedir}\logs\application.log"
            layout="${pad:padding=-5:inner=${TimeStamp}} ${pad:padding=-5:inner=${level} (${threadid})}  [${logger:shortName=true}] ${pad:padding=5:inner=${message}} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
    <!--<target name="Annotation_Mail" xsi:type="Mail" to="kbloom@illumina.com" subject="Annotation Service Exception" smtpServer="smtp.illumina.com" from="Annotation_Services@illumina.com">
      <layout xsi:type="SimpleLayout" text="${pad:padding=-5:inner=${TimeStamp}} ${pad:padding=-5:inner=${level} (${threadid})}  [${logger:shortName=true}] ${pad:padding=5:inner=${message}} ${onexception:EXCEPTION OCCURRED\:${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
    </target>-->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="ConsoleHost,ApplicationLogFile"/>
    <!--<logger name="*" minlevel="Error" writeTo="Annotation_Mail" />-->
  </rules>
</nlog>