<div class="modal fade" id="equipment-list-dialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>SportsWebPT</h4>
            </div>
            <div class="modal-body" id="equipment-list-body">
                <div class="top-border-header text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <tbody data-bind="foreach: equipment">
                                    <tr>
                                        <td>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4><span data-bind="text: commonName"></span></h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <span data-bind="html: productInformation"></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>

