<div class="row">
    <div class="col-md-12">
        <h1 class="title-divider"><i class="icon-sportswebpt-barbell"></i> <span data-bind="text: name"><span class="de-em"></span></span></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <h2 class="title-divider"><span>Description <span class="de-em"></span></span> <small>Exercise overview</small></h2>
    </div>
    <div class="col-md-4">
        <h2 class="title-divider"><span>Structures<span class="de-em"></span></span> <small>Involved body areas</small></h2>
    </div>
    <div class="col-md-3">
        <h2 class="title-divider"><span>Categories <span class="de-em"></span></span> <small>Functional purpose</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <span data-bind="html: description"></span>
    </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <tbody data-bind="foreach: bodyParts">
                <tr>
                    <td data-bind="text: commonName"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3">
        <table class="table table-striped">
            <tbody data-bind="foreach: categories">
                <tr>
                    <td data-bind="text: $data"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 class="title-divider"><span>Video <span class="de-em"></span></span> <small></small></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-11 col-md-offset-1">
        <!-- ko with: $parent.exercise -->
        @{Html.RenderPartial("~/Views/Shared/_planExerciseDetail.cshtml"); }
        <!-- /ko -->    
    </div>
</div>

