<div class="row">
    <div class="col-md-4 pull-left">
        <h2 data-bind="text: name"></h2>
    </div>
    <div class="col-md-offset-6 col-md-2">
        <!-- ko with: $parent.shareBar -->
        @{Html.RenderPartial("~/Views/Shared/_shareBar.cshtml"); }
        <!-- /ko --> 
    </div>
</div> 
<hr class="examine-report-hr"/>
    <div class="row">
    <div class="col-md-10">
        <label>Description: </label><span data-bind="html: description"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label><strong>Duration: </strong><span data-bind="text: duration"></span> minutes</label>
    </div>
    <div class="col-md-5">
        <label><strong>Difficulty: </strong><span data-bind="text: difficulty"></span></label>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <h3>Equipment</h3>
        <table class="table table-striped">
            <tbody data-bind="foreach: equipment">
                <tr>
                    <td data-bind="text: commonName"></td>
                </tr>
            </tbody>            
        </table>
    </div>
    <div class="col-md-7">
        <h3>Video</h3>
        <div data-bind="foreach:videos">
            <video data-bind="attr: { id: 'exercise-video-detail-' + id() }, sublimeVideo: 'exercise-video-detail-' + id()" data-uid="my-exercise-vid-1" data-youtube-id="-xIDPbg1fUQ" width="640" height="360" preload="none">
            </video>       
        </div>
    </div>
</div>    
