<div class="row">
    <div class="col-md-4 pull-left">
        <h2 data-bind="text: commonName"></h2>
    </div>
    <div class="col-md-offset-6 col-md-2">
        <!-- ko with: $parent.shareBar -->
        @{Html.RenderPartial("~/Views/Shared/_shareBar.cshtml"); }
        <!-- /ko --> 
    </div>
</div>
<hr class="examine-report-hr"/>
<div><strong>Medical Name: </strong><span data-bind="text: medicalName"></span></div>
<div><span>&nbsp;</span></div>
<div><span data-bind="html: openingStatement"></span></div>
<div class="row push-down-md">
    <div class="col-md-7"><strong>Description: </strong><span data-bind="html: description"></span></div>
    <div class="col-md-5">
        <!-- ko with: $parent.viewMedicaDisplay -->
        @{Html.RenderPartial("~/Views/Shared/_viewMedicaDisplay.cshtml"); }
        <!-- /ko --> 
    </div>
</div>
<div class="row push-down-md">
    <div class="col-md-3">
        <h3>Causes</h3>
        <table class="table table-striped">
            <tbody data-bind="foreach: causes">
                <tr>
                    <td data-bind="text: description"></td>
                </tr>
            </tbody>            
        </table>
    </div>
    <div class="col-md-3">
        <h3>Signs</h3>
        <table class="table table-striped">
            <tbody data-bind="foreach: signs">
                <tr>
                    <td data-bind="text: description"></td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
<div>
    <h3>Recovery Plans</h3>
    <section data-bind="template: { name: $root.templateIds.recoveryPlanTemplate, data: plans }"></section>
</div>