@model string
<div class="row">
    <div class="col-md-12">
        <h1 class="title-divider-research"><i class="icon-sportswebpt-medkit"></i> <span data-bind="text: commonName"><span class="de-em"></span></span> <small data-bind="text: medicalName"></small></h1>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
         <h2 class="title-divider-research"><span>Desciption <span class="de-em"></span></span> <small>Informative write up describing injury</small></h2>
    </div>
    <div class="col-md-5">
         <h2 class="title-divider-research"><span>Animation <span class="de-em"></span></span> <small>Animated video showing...</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-7"><span data-bind="html: description"></span></div>
    <div class="col-md-5">
        <!-- ko with: $parent.viewMedicaDisplay -->
        @{Html.RenderPartial("~/Views/Shared/_viewMedicaDisplay.cshtml"); }
        <!-- /ko --> 
    </div>
</div>
<div class="row push-down-md">
    <div class="col-md-7">
        <h2 class="title-divider-research"><span>Potential <span class="de-em">Causes</span></span> <small>Common causes known to contribute</small></h2>
        <div class="container">
            <!-- ko if: lifestyleCauses().length > 0 -->
            <h5 class="title-divider-no-bar"><span>Lifestyle <span class="de-em">Contributors</span></span> <small></small></h5>
            <table class="table table-striped">
                <tbody data-bind="foreach: lifestyleCauses">
                    <tr>
                        <td data-bind="text: description"></td>
                    </tr>
                </tbody>            
            </table>
            <!-- /ko --> 
            <!-- ko if: physiologicalCauses().length > 0 -->
            <h5 class="title-divider-no-bar"><span>Physiological <span class="de-em">Contributors</span></span> <small></small></h5>
            <table class="table table-striped">
                <tbody data-bind="foreach: physiologicalCauses">
                    <tr>
                        <td data-bind="text: description"></td>
                    </tr>
                </tbody>            
            </table>
            <!-- /ko --> 
        </div>
    </div>
    <div class="col-md-5">
        <h2 class="title-divider-research"><span>Common <span class="de-em">Signs</span></span> <small>Common signs for injury</small></h2>
        <table class="table table-striped">
            <tbody data-bind="foreach: signs">
                <tr>
                    <td data-bind="text: description"></td>
                </tr>
            </tbody>            
        </table>
    </div>
</div>
<div class="row push-down-md">
    <div class="col-md-7">
        <h2 class="title-divider-research"><span>Recovery <span class="de-em"> Recommendation</span></span><small>Our thoughts on how to get better</small></h2>
    </div>
    <div class="col-md-5">
        <h2 class="title-divider-research"><span>Optional <span class="de-em"> Treatments</span></span><small>Other types of treatments you can try</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <span data-bind="html: recovery"></span>
    </div>
    <div class="col-md-5">
        <table class="table table-striped">
            <tbody data-bind="foreach: treatments">
                <tr>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                <h4><span data-bind="text: name"></span></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span data-bind="html: description"></span>
                            </div>
                        </div>
                    </td>
                </tr>            
            </tbody>            
        </table>
    </div>
</div>
<div class="row push-down-md">
    <div class="col-md-12">
        <h2 class="title-divider-research"><span>Prognosis <span class="de-em"></span></span> <small>How screwed are you</small></h2>
        <div class="row pricing-stack">
            <div class="col-md-4">
                <!-- ko if: typeof bestCase().name !== 'undefined' -->
                <div class="well">
                    <h6 class="title"><span class="em">Best Case</span></h6>
                    <p class="price prognosis-best"><span class="prognosis" data-bind="text: bestCase().duration"></span></p>
                    <div data-bind="html: bestCase().description"></div>
                </div>
                <!-- /ko -->
            </div>

            <div class="col-md-4">
                <!-- ko if: typeof delayedRecovery().name !== 'undefined' -->
                <div class="well">
                    <h6 class="title"><span class="em">Delayed Recovery</span></h6>
                    <p class="price prognosis-delayed"><span class="prognosis" data-bind="text: delayedRecovery().duration"></span></p>
                    <div data-bind="html: delayedRecovery().description"></div>
                </div>
                <!-- /ko -->
            </div>

            <div class="col-md-4">
                <!-- ko if: typeof worstCase().name !== 'undefined' -->
                <div class="well">
                    <h6 class="title"><span class="em">Worst Case</span></h6>
                    <p class="price prognosis-worst"><span class="prognosis" data-bind="text: worstCase()"></span></p>
                    <div data-bind="html: worstCase().description"></div>
                </div>
                <!-- /ko -->
            </div>

                </div>
            </div>
        </div>

<div class="row">
    <div class="col-md-12">
        <h2 class="title-divider-research"><span>Recovery <span class="de-em"></span> Plans</span> <small>Optimized routines for your recovery</small></h2>
        <div data-bind="attr: { id: 'injury-plan-accordion-@Model' }" class="panel-group">

            <div data-bind="foreach: $parent.planDisplays">
                <!-- ko with: plan -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a class="research-accordian-icon" data-toggle="collapse" data-parent="#recover-plan-accordion" data-bind="attr: { href: '#plan-@Model-' + id() }">
                            <i class="icon-sportswebpt-clipboard3"></i>
                            <span data-bind="text: routineName"></span>
                            <span class="glyphicon glyphicon-chevron-down pull-right pull-right"></span>
                        </a>
                    </div>
                </div>
                <div data-bind="attr: { id: 'plan-@Model-' + id()  }" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div><strong>Description: </strong><span data-bind="html: description"></span></div>
                        @{Html.RenderPartial("~/Views/Shared/_planExerciseListing.cshtml"); }
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>


