<footer id="master-footer">
    <div id="footerTop">
        <div class="container pull-right">
        </div>
    </div>
    <div id="footerBottom">
        <div class="container pull-right" style="margin-top: 20px">
             <img src="~/Content/images/logoFooter.png" />
        </div>
    </div>
</footer>    

