
<div id="content-below" class="wrapper push-down-lg">
    <div class="container content-below-fill">
        <div class="row">
        </div>
    </div>
</div>


<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col">
        <div class="block contact-block"> 
          <!--todo: replace with company contact details-->
          <h3>Contact Us</h3>
          <address>
          <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr> 800.888.22222</p>
          <p><abbr title="Email"><i class="fa fa-envelope"></i></abbr> admin@sportswebpt.com</p>
          <p><abbr title="Address"><i class="fa fa-home"></i></abbr>PO Box 221, Fulton, IL, 61252</p>
          </address>
        </div>
      </div>
        <div class="col-md-5 col">
            <div class="block">
                <h3>About Us</h3>
                <p>Providing effective tools and resources, developed by professionals, that can help educate and guide you through your injuries.</p>
            </div>
        </div>
        <div class="col-md-4 col">
            <div class="block newsletter">
                <h3>Follow SportsWebPT</h3>
                <p>Stay up to date with our latest news and content releases...</p>
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-facebook"></i></div>
                    <div class="col-md-11 pull-left"><a href="http://www.facebook.com/SportsWebPT" target="new">Facebook</a></div>
                </div>
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-youtube"></i></div>
                    <div class="col-md-11 pull-left"><a href="http://www.youtube.com/SportsWebPT" target="new">Youtube</a></div>
                </div>
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-google-plus"></i></div>
                    <div class="col-md-11 pull-left"><a href="https://plus.google.com/100033247014412248791" target="new">Google</a></div>
                </div>
                <div class="row">
                    <div class="col-md-1"><i class="fa fa-twitter"></i></div>
                    <div class="col-md-11 pull-left"><a>Twitter</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
      <!--todo: replace with company copyright details-->
      <div class="subfooter">
        <div class="col-md-6">
          <p>Copyright 2014 &copy; SportsWebPt</p>
        </div>
        <div class="col-md-6">
          <ul class="list-inline footer-menu">
            <li><a href="#/contact">Terms</a></li>
            <li><a href="#/about">Privacy</a></li>
            <li><a href="#/contact">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


