<div class="navbar navbar-inverse navbar-fixed-top" id="master-header">
    <div class="container">
        <div class="row">
            <div class="col-md-1">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="~/Content/images/logoHeader.png" /></a>
            </div>
            <div class="col-md-6 pull-right navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/examine"><span aria-hidden="true" data-icon="&#xf0f1;" class="nav-icon"> </span> Examine</a></li>
                    <li><a href="/research"><span aria-hidden="true" data-icon="&#xe021;" class="nav-icon"></span> Reseach</a></li>
                    <li><a href="/research#locate"><span aria-hidden="true" data-icon="&#xe051;" class="nav-icon"></span> Locate</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>




