
<div id="navigation" class="wrapper">
    <!--Branding & Navigation Region-->
    <div class="navbar-static-top">
        <div class="header">
            <div class="header-inner container">
                <div class="row">
                    <div class="col-md-2">
                        <a class="navbar-brand" href="/"><img class="header-logo" src="../../Content/images/logoFooterDark.png" /></a>
                    </div>
                    <div class="col-md-3 push-down-sm pull-left">
                        <div class="slogan">Guided, effective, always accessible</div>
                    </div>
                </div>
            </div>
        </div>




        <div class="navbar" id="master-header">
            <div class="container" data-toggle="clingify">
                <!--
                    mobile collapse menu button
                    - data-toggle="toggle" = default BS menu
                    - data-toggle="jpanel-menu" = jPanel Menu
                    -->
                <a class="navbar-btn" data-toggle="jpanel-menu" data-target=".navbar-collapse"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </a>

                <!--user menu-->
                @*<div class="btn-group user-menu pull-right"> <a href="#signup-modal" class="btn btn-primary signup" data-toggle="modal">Sign Up</a> <a href="#login-modal" class="btn btn-primary dropdown-toggle login" data-toggle="modal">Login</a> </div>*@

                <!--everything within this div is collapsed on mobile-->
                <div class="navbar-collapse collapse">

                    <!--main navigation-->
                    <ul class="nav navbar-nav">
                        <li class="home-link"><a href="/"><img id="menu-logo" src="../../Content/images/logoMenu.png" class="menu-logo" /></a></li>
                        <li><a href="/#/examine" class="menu-item"><span class="nav-icon"><i class="icon-sportswebpt-stethoscope"></i> Examine</span></a></li>
                        <li><a href="/#/research" class="menu-item"><span class="nav-icon"><i class="icon-sportswebpt-magnifier"></i> Research</span></a></li>
                        <li><a href="/#/research/locations" class="menu-item"><span class="nav-icon"><i class="icon-sportswebpt-city-scape1"></i> Locate</span></a></li>
                    </ul>
                </div>








            </div>
        </div>
    </div>



</div>








