<div class="row">
    <div class="col-md-3">
        <div class="row">
            <table class="table">
                <tr>
                    <td><strong>Sets: </strong></td>
                    <td><span class="badge" data-bind="text: sets"></span></td>
                </tr>
                <tr>
                    <td><strong>Reps: </strong></td>
                    <td><span class="badge" data-bind="text: repititions"></span></td>
                </tr>
                <tr>
                    <td><strong>Hold for: </strong></td>
                    <td><span class="badge" data-bind="text: holdFor() + ' ' + holdType()"></span></td>
                </tr>
            </table>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <td><span class="badge" data-bind="text: perDay"></span></td>
                    <td><strong>(x) per day: </strong></td>
                </tr>
                <tr>
                    <td><span class="badge" data-bind="text: perWeek"></span></td>
                    <td><strong>(x) per week: </strong></td>
                </tr>

            </table>
        </div>
        <button data-bind="click:$root.showEquipmentList.bind($data, equipment())">Equipment</button>
    </div>

    <div class="col-md-9">
        <!-- ko with: videos()[0] -->
        <div class="video-container">
            <iframe data-bind="attr: { src:'http://www.youtube.com/embed/' + youtubeVideoId() + '?enablejsapi=1', id:'ytplayer-' + $parents[1].id() + '-' + id() }"  width="560" height="315" frameborder="0" class="youtube-player"></iframe>
        </div>
        <!-- /ko -->
    </div>
</div>
