<div class="row">
    <div class="col-md-4 pull-left">
        <h2 data-bind="text: routineName"></h2>
    </div>
    <div class="col-md-offset-6 col-md-2">
        <!-- ko with: $parent.shareBar -->
        @{Html.RenderPartial("~/Views/Shared/_shareBar.cshtml"); }
        <!-- /ko --> 
    </div>
</div>
<hr class="examine-report-hr"/>
<div class="row">
    <div class="col-md-5">
        <label><strong>Category: </strong><span data-bind="text: category"></span></label>
    </div>
</div>
<div class="row">
    <div class="col-md-7">
        <label>Description: </label><span data-bind="html: description"></span>
    </div>
    <div class="col-md-5">
        <!-- ko with: $parent.viewMedicaDisplay -->
        @{Html.RenderPartial("~/Views/Shared/_viewMedicaDisplay.cshtml"); }
        <!-- /ko --> 
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <label>Instructions:</label><span data-bind="html: instructions"></span>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <label><strong>Muscles Involved: </strong><span data-bind="text: musclesInvolved"></span></label>
    </div>
    <div class="col-md-5">
        <label><strong>Duration: </strong><span data-bind="text: duration"></span> minutes</label>
    </div>
</div>
@{Html.RenderPartial("~/Views/Shared/_planExerciseListing.cshtml"); }
