<div class="row push-down-lg">
    <!-- sidebar -->
    <div class="col-md-3 sidebar">
        <div class="section-menu">
            <div data-bind="attr: { id: 'plan-exercises-' + id() }">
                <ul data-bind="foreach: exercises" class="nav nav-list">
                    <li><a class="exercise-tab-item" data-bind="click: function() { $parents[1].updateSelectedExercise($data) }, attr: { href: '#plan-exercise-pane-' + id() + '-' + $parent.id(), title: 'Exercise ' + $index() }, html: 'Exercise ' + ($index() + 1) + '<small>' + name() + '</small>'" data-toggle="tab"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="tab-content">
            <div class="tab-pane active" data-bind="attr: { id: 'exercise' }">
                <!-- ko with: $parent.selectedExercise -->
                @{Html.RenderPartial("~/Views/Shared/_planExerciseDetail.cshtml"); }
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
