<div class="row">
    <div class="col-md-12">
        <video data-autoresize='fill' data-bind="attr: { 'data-uid': youtubeVideoId }, sublimeVideo: youtubeVideoId() " width="300" height="300" preload="none"></video>
    </div>
</div>
