@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_errorLayout.cshtml";
    ViewBag.Title = "500 Unhandled Error";
}


<div class="well push-down-lg text-center">
    <h3><b>Looks like we got our radar jammed with an unexpected error.</b></h3>
    <div class="text-warning">
        We apologize for the mishap. If the problem persists please contact our support team.
    </div>
    
    
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div class="push-down-md">
            <div>
                <b>Exception: </b>@Model.Exception.Message<br />
                <b>Controller: </b>@Model.ControllerName<br />
                <b>Action: </b>@Model.ActionName
            </div>
            <h4><b>Stack Trace</b></h4>
            @*
                The <pre> tag defines preformatted text and preserves spaces and line breaks. Keep this all one line or
                you will get extra whitespace
            *@
            <pre class=".pre-scrollable">@Model.Exception.StackTrace</pre>
        </div>
    }
    else
    {
        <div class="text-center">
            <div class="push-down-md">
                <img class="image-box" src="~/Content/images/jamed.gif" />
            </div>
        </div>
    }
</div>
    
    

