@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "_errorLayout.cshtml";
    ViewBag.Title = "500 Unhandled Error";
}

<div class="push-down-lg">
    <div class="well text-center">
        <h3>Internal Server Error - 500</h3>
        <div class="push-down-md">
            <img class="image-box" src="~/Content/images/jamed.gif" />
        </div>
        <h4 class="push-down-lg">Looks like we got our radar jammed. We apologize for the mishap.</h4>
        <h5>If the problem persists please contact our support team.</h5>
    </div>
    @if (Model != null && HttpContext.Current.IsDebuggingEnabled)
    {
        <div>
            <p>
                <b>Exception:</b> @Model.Exception.Message<br />
                <b>Controller:</b> @Model.ControllerName<br />
                <b>Action:</b> @Model.ActionName
            </p>
            <div style="overflow:scroll">
                <pre>
@Model.Exception.StackTrace
                </pre>
            </div>
        </div>
    }
</div>