<div class="container" id="research-exercise-detail">
    <!-- ko with: navBar -->
    @{Html.RenderPartial("~/views/research/_researchNavBar.cshtml"); }
    <!-- /ko -->
    <div class="push-down-md" data-bind="mask: !isInitialized()">
        <!-- ko with: exercise -->
        @{ Html.RenderPartial("~/views/shared/_exerciseDetail.cshtml"); }
        <!-- /ko -->
    </div>
</div>
