<div id="research-injury-detail">
    <div class="row">
        <div class="col-md-1">
            <a href="javascript:history.back()"><i class="iconmoon-chevron-left research-header-icon"></i></a>
        </div>
        <div class="col-md-11 text-center">
            <span aria-hidden="true" data-icon="&#xf0fa;" class="research-header-icon"> Injury</span>
        </div>        
    </div>
    <hr class="examine-report-hr"/>
    <div class="row" data-bind="mask: !isInitialized()">
        <!-- ko with: injury -->
        @{ Html.RenderPartial("~/views/shared/_injuryDetail.cshtml"); }
        <!-- /ko -->
    </div>
</div>
