<div class="container" id="research-plan-detail">
    <!-- ko with: navBar -->
    @{Html.RenderPartial("~/views/research/_researchNavBar.cshtml"); }
    <!-- /ko -->
    <div class="row" data-bind="mask: !isInitialized()">
        <!-- ko with: plan -->
        @{ Html.RenderPartial("~/views/shared/_planDetail.cshtml"); }
        <!-- /ko -->
    </div>
</div>