<div class="container" id="research-injury-detail">
    <!-- ko with: navBar -->
    @{Html.RenderPartial("~/views/research/_researchNavBar.cshtml"); }
    <!-- /ko --> 
    <div class="push-down-md" data-bind="mask: !isInitialized()">
    <!-- ko with: injury -->
    @{ Html.RenderPartial("~/views/shared/_injuryDetail.cshtml", "research"); }
    <!-- /ko -->
    </div>
</div>
