<div class="container" id="research-plan-detail">
    <div class="row">
        <div class="col-md-3 pull-left">
            <a href="/#/research/plans" class="return-navigation-icon" style="text-decoration: none;"><i class="icon-sportswebpt-arrow-left"></i> To Plans</a>
        </div>
        <div class="col-md-6 text-center">
            <span class="header-icon"><i class="icon-sportswebpt-clipboard3"></i> Plan</span>
        </div>        
    </div>
    <div class="row" data-bind="mask: !isInitialized()">
    <hr class="examine-report-hr"/>
        <!-- ko with: plan -->
        @{ Html.RenderPartial("~/views/shared/_planDetail.cshtml"); }
        <!-- /ko -->
    </div>
</div>