<div class="row well research-nav-bar">
    <div class="col-md-2">
        <a data-bind="attr: { href: returnUri(), title: 'Back to ' + entityType()} " class="return-navigation-icon" title="Back"><i class="icon-sportswebpt-chevron-left"></i><i class="icon-sportswebpt-chevron-left"></i> Back</a>
    </div>
    <div class="col-md-4 col-md-offset-6 pull-right">
        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_google_plusone_share"></a>
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_compact"></a>
            <a class="addthis_counter addthis_bubble_style"></a>
            <a data-bind="click: addAsFavorite" title="Add this to your favorites" class="favorite-icon" style="margin-left: 10px"><i class="icon-sportswebpt-heart"></i></a>
        </div>
    </div>
</div>


@*<span class='st_sharethis_large' displaytext='ShareThis'></span>
<span class='st_facebook_large' displaytext='Facebook'></span>
<span class='st_twitter_large' displaytext='Tweet'></span>
<span class='st_pinterest_large' displaytext='Pinterest'></span>
<span class='st_email_large' displaytext='Email'></span>
<span><a data-bind="click: addAsFavorite" title="Add this to your favorites" class="favorite-icon" style="margin-left: 10px"><i class="icon-sportswebpt-heart"></i></a></span>*@



