 <div id="research-nav-panel">
        <div class="row text-center">
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xf0fa;" class="research-nav-icon"></span>
                <h3>Injuries</h3>
                <p>Use our self examination wizard designed by professionals to pin point your injury.</p>
            </div>
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xe001;" class="research-nav-icon"></span>
                <h3>Rehab Plans</h3>
                <p>Organize your own recovery using pre-configured  plans for common injuries. Get feedback and advice from professionals to augment you plan based on your progression </p>
            </div>
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xe007;" class="research-nav-icon"></span>
                <h3>Exercises</h3>
                <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
            </div>
            <div class="col-md-3">
                <span aria-hidden="true" data-icon="&#xe051;" class="research-nav-icon"></span>
                <h3>PT Clinics</h3>
                <p>Setup one on one video conferences with our licensed therapists to further diagnosis injuries, assist with exercises or evaluate progression.</p>
            </div>
        </div>
        <div class="row text-center push-down-md" >
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#/research/injuries">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#/research/plans">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#/research/exercises">Learn more &raquo;</a></p>
            </div>
            <div class="col-md-3">
                <p><a class="btn btn-default" href="#/research/locations">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>