<div id="research-exercise-detail">
    <div class="row">
        <div class="col-md-1">
            <a href="javascript:history.back()"><i class="icon-sportswebpt-chevron-left research-header-icon"></i></a>
        </div>
        <div class="col-md-11 text-center">
            <span class="research-header-icon"><i class="icon-sportswebpt-barbell"></i> Exercise</span> 
        </div>        
    </div>
    <hr class="examine-report-hr"/>
    <div class="row" data-bind="mask: !isInitialized()">
        <!-- ko with: exercise -->
        @{ Html.RenderPartial("~/views/shared/_exerciseDetail.cshtml"); }
        <!-- /ko -->
    </div>
</div>
