<div id="research-plan-panel">
    <div class="row">
        <div class="col-md-5 col-md-offset-7">
            <h1 class="title-divider-research-header"><i class="icon-sportswebpt-clipboard3"></i><span>Configured <span class="de-em">Plans</span></span><small>Pre-designed plans to aid your recovery.</small></h1>
        </div>
    </div>
    <hr class="examine-report-hr" />
    <div class="row">
        <div class="col-md-3">
            <div class="well">
                <h3 class="title-divider-no-bar"><span>Body <span class="de-em">Regions</span></span><small><strong>(Click below to filter)</strong></small></h3>
                <a class="label-filter-hover"><span class="label label-danger" ng-class="{ 'selected-filter-item' : isBodyRegionSelected('')}" ng-click="setBodyRegion('')">Show All</span></a>
                <ul class="list-no-style filter-container" id="plans-bodyregions-filter-list">
                    <li class="filter-label" ng-repeat="bodyRegion in bodyRegions">
                        <a class="href-no-underline">
                            <span class="label label-info" ng-bind="bodyRegion.name"
                                  ng-class="{ 'selected-filter-item' : isBodyRegionSelected(bodyRegion.name)}"
                                  ng-click="setBodyRegion(bodyRegion.name)"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="well">
                <h3 class="title-divider-no-bar"><span>Categories<span class="de-em"></span></span><small><strong>(Click below to filter)</strong></small></h3>
                <a class="label-filter-hover"><span class="label label-danger" ng-class="{ 'selected-filter-item' : isCategorySelected('')}" ng-click="setCategory('')">Show All</span></a>
                <ul class="list-no-style filter-container" id="plans-categories-filter-list">
                    <li class="filter-label" ng-repeat="category in categories">
                        <a class="href-no-underline"><span class="label label-info" ng-bind="category" 
                                 ng-class="{ 'selected-filter-item' : isCategorySelected(category)}"
                                 ng-click="setCategory(category)"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 research-brief-listing" kendo-cloak="{{isLoading}}">
            <brief-plan-accordian></brief-plan-accordian>
        </div>
    </div>
</div>

