<div id="research-plan-panel">
    <span class="research-header-icon"><i class="icon-sportswebpt-clipboard3"></i> Plans</span>
    <hr class="examine-report-hr" />
    <div class="row" data-bind="mask: !isInitialized()">
        <div class="col-md-3 research-vertical-splitter">
            <div class="container">
                <h3>Body Regions</h3>
                <a class="label-filter-hover"><span class="label label-danger" ng-click="setBodyRegion('')">Show All</span></a>
                <ul class="list-no-style filter-container" id="plans-bodyregions-filter-list">
                    <li class="filter-label" ng-repeat="bodyRegion in bodyRegions">
                        <a><span class="label label-info" ng-bind="bodyRegion.name" 
                                 ng-class="{ 'selected-filter-item' : isBodyRegionSelected(bodyRegion.name)}"
                                 ng-click="setBodyRegion(bodyRegion.name)"></span></a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <h3>Categories</h3>
                <a class="label-filter-hover"><span class="label label-danger" ng-click="setCategory('')">Show All</span></a>
                <ul class="list-no-style filter-container" id="plans-categories-filter-list">
                    <li class="filter-label" ng-repeat="category in categories">
                        <a><span class="label label-info" ng-bind="category" 
                                 ng-class="{ 'selected-filter-item' : isCategorySelected(category)}"
                                 ng-click="setCategory(category)"></span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <brief-plan-accordian></brief-plan-accordian>
        </div>
    </div>
</div>

