<div id="examine-injury-report">
    <div>
        <h3><strong>Potential Injuries</strong></h3>
    </div>
    <div class="row push-down-md">
        <div class="col-md-3" id="injuryReport">
            <ul class="list-group" id="injury-report-nav">
                <li class="list-group-item"><span class="badge" data-bind="text: probabableInjuries().length"></span>Probable                 
                    <ul class="nav nav-pills nav-stacked push-down-sm" data-bind="foreach: probabableInjuries">
                        <li><a data-bind="attr: { href: '#tab-' + id(), title: commonName }, text: commonName() + ' : ' + likelyHood(), click: $parent.onPillClick " data-toggle="tab"></a></li>
                    </ul>
                </li>
                <li class="list-group-item"><span class="badge" data-bind="text: moderateInjuries().length"></span>Moderate                    
                    <ul class="nav nav-pills nav-stacked push-down-sm" data-bind="foreach: moderateInjuries">
                        <li><a data-bind="attr: { href: '#tab-' + id(), title: commonName }, text: commonName() + ' : ' + likelyHood(), click: $parent.onPillClick " data-toggle="tab"></a></li>
                    </ul>
                </li>
                <li class="list-group-item"><span class="badge" data-bind="text: remoteInjuries().length"></span>Remote                
                    <ul class="nav nav-pills nav-stacked push-down-sm" data-bind="foreach: remoteInjuries">
                        <li><a data-bind="attr: { href: '#tab-' + id(), title: commonName }, text: commonName() + ' : ' + likelyHood(), click: $parent.onPillClick " data-toggle="tab"></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="examine-report-container" data-bind="template: { name: injuryTemplate, afterRender: postTabRender, foreach: injuries }" class="tab-content examine-tab-pane examine-report-tab-pane col-md-9"></div>
    </div>
</div>