<div id="examine-symptom-detail">
    <div>
        <h3><strong>Areas of Discomfort</strong></h3>
    </div>
    <div class="row push-down-md">
        <div class="col-md-3" id="discomfortAreas">
            <div style="height: 100px">
                <ul id="examine-detail-tab-nav" class="nav nav-pills nav-stacked" data-bind="foreach: selectedAreas">
                    <li><a data-bind="attr: { href: '#tab-' + id() }, text: displayName " data-toggle="tab"></a></li>
                </ul>
            </div>
            <div class="push-down-lg text-center">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <a class="btn btn-default btn-block" href="#/examine" >&laquo; Back</a> 
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-default btn-block" data-bind="click: submitDiscomfortDetail, enable: !isProcessing()" >Next &raquo;</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="examine-detail-container" data-bind="template: { name: areaTemplate, foreach: selectedAreas }, mask: isProcessing" class="tab-content examine-tab-pane examine-symptom-tab-pane col-md-9"></div>
    </div>
</div>
