<div id="examine-skeleton" data-bind="mask: isProcessing">
    <div class="row">
        <div class="col-md-11 pull-left">
            <h3><strong>Please select up to <span data-bind="text: maxSelectableAreas"></span> areas of discomfort</strong></h3>
        </div>
        <div class="col-md-1 pull-right">
            @*<a class="btn btn-default btn-lg" href="#detail" >Next &raquo;</a>*@
        </div>
    </div>
    <div class="row push-down-md">
        <div class="col-md-2">
            <!-- ko if: selectedAreas().length > 0 -->
            
            <div style="height: 150px">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Selected Areas</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: selectedAreas">
                        <tr>
                            <td data-bind="text: displayName"></td>
                        </tr>
                    </tbody>            
                </table>
            </div>
            <div>
                <a class="btn btn-info btn-lg btn-block" href="#/examine/detail" >Next &raquo;</a>
            </div>
            <!-- /ko -->
        </div>
        <div class="col-md-10">
            <ul id="skeleton" data-bind="foreach: symptomaticRegions" class="img-rounded">
                <li data-bind="attr: { id: cssClassName }, click: $parent.selectArea, event: { mouseover: $parent.areaMouseOver, mouseout: $parent.areaMouseOut }, bootstrapPopover: { content: $parent.formatBodyParts($data), html: true, title: displayName, trigger: 'hover' }" />
            </ul>
        </div>
    </div>
</div>