@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-untitled:before, .iconmoon-untitled-2:before, .iconmoon-untitled-3:before, .iconmoon-untitled-4:before, .iconmoon-untitled-5:before, .iconmoon-untitled-6:before, .iconmoon-untitled-7:before, .iconmoon-untitled-8:before, .iconmoon-calendar-plan:before, .iconmoon-untitled-10:before, .iconmoon-untitled-11:before, .iconmoon-untitled-12:before, .iconmoon-untitled-13:before, .iconmoon-untitled-14:before, .iconmoon-untitled-15:before, .iconmoon-untitled-16:before, .iconmoon-untitled-17:before, .iconmoon-untitled-18:before, .iconmoon-untitled-19:before, .iconmoon-untitled-20:before, .iconmoon-untitled-21:before, .iconmoon-untitled-22:before, .iconmoon-untitled-23:before, .iconmoon-untitled-24:before, .iconmoon-untitled-25:before, .iconmoon-untitled-26:before, .iconmoon-untitled-27:before, .iconmoon-untitled-28:before, .iconmoon-untitled-29:before, .iconmoon-untitled-30:before, .iconmoon-search:before, .iconmoon-google-plus:before, .iconmoon-google-plus-sign:before, .iconmoon-facebook-sign:before, .iconmoon-twitter-sign:before, .iconmoon-github-sign:before, .iconmoon-camera-retro:before, .iconmoon-cogs:before, .iconmoon-target:before, .iconmoon-target-2:before, .iconmoon-magnifier:before, .iconmoon-user-md:before, .iconmoon-stethoscope:before, .iconmoon-building:before, .iconmoon-refresh:before, .iconmoon-repeat:before, .iconmoon-facebook:before, .iconmoon-twitter:before, .iconmoon-google:before, .iconmoon-google-plus-2:before, .iconmoon-google-plus-3:before, .iconmoon-google-plus-4:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.iconmoon-untitled:before {
	content: "\e000";
}
.iconmoon-untitled-2:before {
	content: "\e001";
}
.iconmoon-untitled-3:before {
	content: "\e003";
}
.iconmoon-untitled-4:before {
	content: "\e002";
}
.iconmoon-untitled-5:before {
	content: "\e004";
}
.iconmoon-untitled-6:before {
	content: "\e005";
}
.iconmoon-untitled-7:before {
	content: "\e006";
}
.iconmoon-untitled-8:before {
	content: "\e007";
}
.iconmoon-calendar-plan:before {
	content: "\e008";
}
.iconmoon-untitled-10:before {
	content: "\e009";
}
.iconmoon-untitled-11:before {
	content: "\e00a";
}
.iconmoon-untitled-12:before {
	content: "\e00b";
}
.iconmoon-untitled-13:before {
	content: "\e00c";
}
.iconmoon-untitled-14:before {
	content: "\e00d";
}
.iconmoon-untitled-15:before {
	content: "\e00e";
}
.iconmoon-untitled-16:before {
	content: "\e00f";
}
.iconmoon-untitled-17:before {
	content: "\e010";
}
.iconmoon-untitled-18:before {
	content: "\e011";
}
.iconmoon-untitled-19:before {
	content: "\e012";
}
.iconmoon-untitled-20:before {
	content: "\e013";
}
.iconmoon-untitled-21:before {
	content: "\e014";
}
.iconmoon-untitled-22:before {
	content: "\e015";
}
.iconmoon-untitled-23:before {
	content: "\e016";
}
.iconmoon-untitled-24:before {
	content: "\e017";
}
.iconmoon-untitled-25:before {
	content: "\e018";
}
.iconmoon-untitled-26:before {
	content: "\e019";
}
.iconmoon-untitled-27:before {
	content: "\e01a";
}
.iconmoon-untitled-28:before {
	content: "\e01b";
}
.iconmoon-untitled-29:before {
	content: "\e01c";
}
.iconmoon-untitled-30:before {
	content: "\f083";
}
.iconmoon-search:before {
	content: "\e01d";
}
.iconmoon-google-plus:before {
	content: "\f0d5";
}
.iconmoon-google-plus-sign:before {
	content: "\f0d4";
}
.iconmoon-facebook-sign:before {
	content: "\f082";
}
.iconmoon-twitter-sign:before {
	content: "\f081";
}
.iconmoon-github-sign:before {
	content: "\f092";
}
.iconmoon-camera-retro:before {
	content: "\e01e";
}
.iconmoon-cogs:before {
	content: "\f085";
}
.iconmoon-target:before {
	content: "\e01f";
}
.iconmoon-target-2:before {
	content: "\e020";
}
.iconmoon-magnifier:before {
	content: "\e021";
}
.iconmoon-user-md:before {
	content: "\f0f0";
}
.iconmoon-stethoscope:before {
	content: "\f0f1";
}
.iconmoon-building:before {
	content: "\f0f7";
}
.iconmoon-refresh:before {
	content: "\f021";
}
.iconmoon-repeat:before {
	content: "\f01e";
}
.iconmoon-facebook:before {
	content: "\e022";
}
.iconmoon-twitter:before {
	content: "\e023";
}
.iconmoon-google:before {
	content: "\e024";
}
.iconmoon-google-plus-2:before {
	content: "\e025";
}
.iconmoon-google-plus-3:before {
	content: "\e026";
}
.iconmoon-google-plus-4:before {
	content: "\e027";
}
