#mainsplash {
    background: url(images/swpt_splash.png)no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#mainsplash h1,#mainsplash h2 {
    color: #ffffff
}

body {
     padding-top: 50px; /* 60px to make the container go all the way to the bottom of the topbar */
}


#login-dialog .login-input {
    height: 30px;
    font-size: 20px;
    padding-top: 6px;
}

.login-modal {
    width: 360px;
    height: 620px;
}

.login-container {
    width: 400px;
    display: block;
    margin-left: auto ;
    margin-right: auto ;
}


.login-modal-body {
    position: relative;
    padding: 0 10px 0 10px;
}

.login-icon {
    height: 24px;
    width: 20px;
    background-size: 24px;
    display: inline-block;
    vertical-align: text-top;
    margin-right: 15px;
    border-right: 1px solid rgba(0,0,0,0.1);
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 1px 0 0 rgba(255,255,255,0.2);
}

.login-btn {
    display:block;
    border:1px solid #272b30;
    color:#fff;
    font-weight:bold;
    font-size:18px;
    padding:12px 30px 12px 0;
    border-radius:3px;
    margin:10px 0 25px;
    box-shadow:0 1px 0 rgba(255,255,255,0.25) inset;
    text-shadow:0 1px 0 #1a64bf;
    cursor:pointer;
    text-align: left;
    text-decoration: none;
}

.login-btn:hover,
.login-btn:focus {
    text-decoration: none;
    color: #dcdcdc;
}

.login-facebook {
    background-color: #4264b3;
    background-image: -moz-linear-gradient(#679ace,#4264b3);
    background-image: -o-linear-gradient(#679ace,#4264b3);
    background-image: -ms-linear-gradient(#679ace,#4264b3);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#679ace),color-stop(1,#4264b3));
    background-image: -webkit-linear-gradient(#679ace,#4264b3);
    border-color: #1b345a;
    text-shadow: 0 1px 0 #2d449e;
}

.login-twitter {
    background-color:#0ba8d6;
    background-image:-moz-linear-gradient(#35bfe7,#0ba8d6);
    background-image:-o-linear-gradient(#35bfe7,#0ba8d6);
    background-image:-ms-linear-gradient(#35bfe7,#0ba8d6);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#35bfe7),color-stop(1,#0ba8d6));
    background-image:-webkit-linear-gradient(#35bfe7,#0ba8d6)
}

.login-google {
    background-color:#b22222;
    background-image:-moz-linear-gradient(#b94a48,#b22222);
    background-image:-o-linear-gradient(#b94a48,#b22222);
    background-image:-ms-linear-gradient(#b94a48,#b22222);
    background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0,#b94a48),color-stop(1,#b22222));
    background-image:-webkit-linear-gradient(#b94a48,#b22222)
}

.login-popover {
    width: 250px;
}



















/* ICON FONT AUGMENTS */

.splash-icon {
  display: block; /* Chrome 19 was weird with clickability without this */
    text-align: center;
    font-size: 5em;
    height: 50px;
    width: 100%;
    margin-bottom: 40px;
    color: #424947
}

.icon-alone {
  display: inline-block; /* Chrome 19 was weird with clickability without this */
}

.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}


/* BOOTSTRAP AUGMENTS*/

.top-border-header {
    padding-top: 5px;
    margin: 21px 0 20px;
    border-top: 1px solid #dcdcdc;
}

.modal-header {
  border-bottom: 1px solid #eee;
  background-color: #272b30;
}

.modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5{
    color: #ffffff;
}

a {
  color: #cccccc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #cccccc;
  text-decoration: underline;
  cursor: pointer;
}




.navbar-inverse .navbar-inner {
  background-color: #1e2125;
  background-image: -moz-linear-gradient(top, #272b30, #101214);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#272b30), to(#101214));
  background-image: -webkit-linear-gradient(top, #272b30, #101214);
  background-image: -o-linear-gradient(top, #272b30, #101214);
  background-image: linear-gradient(to bottom, #272b30, #101214);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff272b30', endColorstr='#ff101214', GradientType=0);
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus {
  color: #a0b1bd;
}

.navbar-inverse .brand {
  color: #ffffff;
}

.navbar-inverse .navbar-text {
  color: #7a8288;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #a0b1bd;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #101214;
}

.navbar-inverse .navbar-link {
  color: #7a8288;
}

.navbar-inverse .navbar-link:hover,
.navbar-inverse .navbar-link:focus {
  color: #ffffff;
}

.navbar-inverse .divider-vertical {
  border-right-color: #272b30;
  border-left-color: #101214;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #101214;
}

.navbar-inverse .nav li.dropdown > a:hover .caret,
.navbar-inverse .nav li.dropdown > a:focus .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-top-color: #7a8288;
  border-bottom-color: #7a8288;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle .caret,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-search .search-query {
  color: #ffffff;
  background-color: #49515a;
  border-color: #101214;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
}

.navbar-inverse .navbar-search .search-query:-moz-placeholder {
  color: #cccccc;
}

.navbar-inverse .navbar-search .search-query:-ms-input-placeholder {
  color: #cccccc;
}

.navbar-inverse .navbar-search .search-query::-webkit-input-placeholder {
  color: #cccccc;
}

.navbar-inverse .navbar-search .search-query:focus,
.navbar-inverse .navbar-search .search-query.focused {
  padding: 5px 15px;
  color: #3a3f44;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  outline: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

.navbar-inverse .btn-navbar {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #121417;
  *background-color: #050506;
  background-image: -moz-linear-gradient(top, #1c1e22, #050506);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1c1e22), to(#050506));
  background-image: -webkit-linear-gradient(top, #1c1e22, #050506);
  background-image: -o-linear-gradient(top, #1c1e22, #050506);
  background-image: linear-gradient(to bottom, #1c1e22, #050506);
  background-repeat: repeat-x;
  border-color: #050506 #050506 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1c1e22', endColorstr='#ff050506', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.navbar-inverse .btn-navbar:hover,
.navbar-inverse .btn-navbar:focus,
.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active,
.navbar-inverse .btn-navbar.disabled,
.navbar-inverse .btn-navbar[disabled] {
  color: #ffffff;
  background-color: #050506;
  *background-color: #000000;
}

.navbar-inverse .btn-navbar:active,
.navbar-inverse .btn-navbar.active {
  background-color: #000000 \9;
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}