<!-- LOGON / SIGNUP Dialogs --> 
<div class="login-modal-body" data-bind="visible: loginVisible" id="loginForm">
    <form>
        <a class="login-facebook login-btn"><i class="iconmoon-facebook login-icon"></i>Log in using Facebook</a>
    </form>
    <form>
        <a class="login-twitter login-btn"><i class="iconmoon-twitter login-icon"></i>Log in using Twitter</a>
    </form>
    <form>
        <a class="login-google login-btn"><i class="iconmoon-google login-icon"></i>Log in using Google</a>
    </form>
    <div class="top-border-header text-center"><strong>or using a SportsWebPt account</strong></div>
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-envelope"></span>
                <input class="input-xlarge login-input" id="email" type="text" placeholder="Email Address">
            </div>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-suitcase-2"></span>
                <input class="input-xlarge login-input" id="password" type="password" placeholder="Password">
            </div>
            <div class="control-group text-center">
                <button class="btn"><strong>Log in >> </strong></button>
            </div>
        </fieldset>
    </form>
    <div class="top-border-header text-center">
        <strong>
            <a >forgot password</a>
            <span>-</span>
            <a data-bind="click: toggleSignUp.bind($data, 'signup')">create account</a>            
        </strong>
    </div>
</div>

<!-- SIGN UP -->
<div class="login-modal-body" data-bind="visible: signUpVisible" id="signUpForm">
    <form id="signUpGoogle" action="http://localhost:8022/oauth?redirectUri=localhost" method="GET" >
        <a class="login-facebook login-btn" href="javascript:;" onclick="parentNode.submit();"><i class="iconmoon-facebook login-icon"></i>Sign up using Facebook</a>
    </form>
    <form>
        <a class="login-twitter login-btn"><i class="iconmoon-twitter login-icon"></i>Sign up using Twitter</a>
    </form>
    <form>
        <a class="login-google login-btn"><i class="iconmoon-google login-icon"></i>Sign up using Google</a>
    </form>
    <div class="top-border-header text-center"><strong>or create a SportsWebPt account</strong></div>
    <form class="form-horizontal">
        <fieldset>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-single-user"></span>
                <input class="input-xlarge login-input" id="username" type="text" data-bind="value: username" placeholder="User Name">
            </div>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-envelope"></span>
                <input class="input-xlarge login-input" id="email" type="text" data-bind="value: emailAddress" placeholder="Email Address">
            </div>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-suitcase-2"></span>
                <input class="input-xlarge login-input" id="password" type="password" data-bind="value: password" placeholder="Password">
            </div>
            <div class="control-group text-center">
                <button class="btn" data-bind="click: signUp"><strong>Sign up >> </strong></button>
            </div>
        </fieldset>
    </form>
    <div class="top-border-header text-center">
        <strong>
            <a>forgot password</a>
            <span>-</span>
            <a data-bind="click: toggleSignUp.bind($data, 'login')">have an account</a>            
        </strong>
    </div>
</div>
