<!-- LOGON / SIGNUP Dialogs --> 
<div style="display: none;" data-bind="visible: true">
    <div class="login-modal-body" data-bind="visible: loginVisible" id="loginForm">
        <form>
            <a class="login-facebook login-btn" data-bind="click: signUpOAtuhUser.bind($data, 'facebook')"><i class="iconmoon-facebook login-icon"></i>Log in using Facebook</a>
        </form>
        <form>
            <a class="login-google login-btn" data-bind="click: signUpOAtuhUser.bind($data, 'google')"><i class="iconmoon-google login-icon"></i>Log in using Google</a>
        </form>
        <div class="top-border-header text-center"><strong>or using a SportsWebPt account</strong></div>
        <form class="form-horizontal text-center" data-bind="validateForm: loginValidationOptions" id="loginSwpt">
                <div class="control-group input-prepend">
                    <span class="add-on login-input iconmoon-envelope"></span>
                    <input class="input-xlarge login-input" id="loginEmail" name="loginEmail" type="text" placeholder="Email Address">
                </div>
                <div class="control-group input-prepend">
                    <span class="add-on login-input iconmoon-suitcase-2"></span>
                    <input class="input-xlarge login-input" id="loginPassword" name="loginPassword" type="password" placeholder="Password">
                </div>
                <div class="control-group text-center">
                      <input class="btn" type="submit" value="Log in >>" />
                </div>
        </form>
        <div class="top-border-header text-center">
            <strong>
                <a >forgot password</a>
                <span>-</span>
                <a data-bind="click: toggleSignUp.bind($data, 'signup')">create account</a>            
            </strong>
        </div>
    </div>

    <!-- SIGN UP -->
    <div class="login-modal-body" data-bind="visible: signUpVisible" id="signUpForm">
        <form id="signUpFacebook" >
            <a class="login-facebook login-btn" data-bind="click: signUpOAtuhUser.bind($data, 'facebook')"><i class="iconmoon-facebook login-icon"></i>Sign up using Facebook</a>
        </form>
        <form id="signUpGoogle">
            <a class="login-google login-btn" data-bind="click: signUpOAtuhUser.bind($data, 'google')" ><i class="iconmoon-google login-icon"></i>Sign up using Google</a>
        </form>
        <div class="top-border-header text-center"><strong>or create a SportsWebPt account</strong></div>
        <form class="form-horizontal text-center" data-bind="validateForm: signUpValidationOptions" id="signUpSwpt">
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-single-user"></span>
                <input class="input-xlarge login-input" id="username" name="username" type="text" placeholder="User Name">
            </div>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-envelope"></span>
                <input class="input-xlarge login-input" id="signupEmail" name="signupEmail" type="text" placeholder="Email Address">
            </div>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-suitcase-2"></span>
                <input class="input-xlarge login-input" id="signupPassword" name="signupPassword" type="password" placeholder="Password">
            </div>
            <div class="control-group input-prepend">
                <span class="add-on login-input iconmoon-suitcase-2"></span>
                <input class="input-xlarge login-input" id="retryPassword" equalTo="#signupPassword" name="retryPassword" type="password" placeholder="Verify Password">
            </div>
            <div class="control-group text-center">
                <input class="btn" type="submit" value="Sign up >>" />
            </div>
            <label id="errorDisplay"></label>
        </form>
        <div class="top-border-header text-center">
            <strong>
                <a>forgot password</a>
                <span>-</span>
                <a data-bind="click: toggleSignUp.bind($data, 'login')">have an account</a>            
            </strong>
        </div>
    </div>
</div>