<div class="navbar navbar-inverse navbar-fixed-top" id="master-header">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">SportsWebPT</a>
            <div class="nav nav-collapse collapse pull-right">
                <ul class="nav">
                    <li><a href="#about">Store</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="divider-vertical"></li>
                </ul>
                <li class="dropdown" id="accountMenu" data-bind="visible: isAuthenticated">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-target="#accountMenu"><span data-bind="text: name"></span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#about">Edit Profile</a></li>
                        <li><a href="#about">My Dashboard</a></li>
                        <li class="divider"></li>
                        <li><a href="#about">Log Out</a></li>
                    </ul>
                </li>
                <div class="btn-group pull-right">
                    <button type="submit" class="btn btn-inverse" data-bind="click: toggleSignUp.bind($data, 'signin')" data-toggle="modal" data-target="#login-dialog">Sign In</button>
                    <button type="submit" class="btn btn-inverse" data-bind="click: toggleSignUp.bind($data, 'signup')" data-toggle="modal" data-target="#login-dialog">Sign Up</button>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<!-- LOGIN Dialogs --> 
<div class="modal fade login-modal" id="login-dialog" tabindex="-1" role="dialog">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4>Sign In</h4>
    </div>
    <div class="modal-body" data-bind="visible: signInVisible" id="signInForm">
        <form>
            <a class="login-facebook login-btn"><i class="iconmoon-facebook login-icon"></i>Sign in with Facebook</a>
        </form>
        <form>
            <a class="login-twitter login-btn"><i class="iconmoon-twitter login-icon"></i>Sign in with Twitter</a>
        </form>
        <form>
            <a class="login-google login-btn"><i class="iconmoon-google login-icon"></i>Sign in with Google</a>
        </form>
        <div class="top-border-header text-center">or with SportsWebPt account</div>
        <form  >
                <div class="input-prepend input-xlarge">
                    <span class="add-on iconmoon-untitled-16 input-xlarge"></span>
                    <input class="input-xlarge" id="username" type="text" placeholder="Username">
                </div>
            <div class="input-prepend input-xlarge">
                <span class="add-on  iconmoon-untitled-7"></span>
                <input class="input-xlarge" id="password" type="text" placeholder="Password">
            </div>
            <div>
                
            </div>
            <div class="text-center">
                <button class="btn"> Sign in >> </button>
            </div>
            <div class="top-border-header text-center">
                forgot password? *  signup
            </div>
        </form>

    </div>
    <div class="modal-body" data-bind="visible: signUpVisible" id="signUpForm">
        <form>
            <a class="login-facebook login-btn"><i class="iconmoon-facebook login-icon"></i>Sign in with Facebook</a>
        </form>
        <form>
            <a class="login-google login-btn"><i class="iconmoon-google login-icon"></i>Sign in with Google</a>
        </form>
    </div>
</div>
  