<footer id="master-footer">
    <div id="footerTop">
    </div>
    <div id="footerBottom">
        <div class="container">
            <p>&copy; SportsWebPT 2013</p>
        </div>
    </div>
</footer>    

