    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">SportsWebPT</a>
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            <li><a href="#about">Store</a></li>
                            <li><a href="#about">About Us</a></li>
                            <li><a href="#contact">Contact Us</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                        <button type="submit" class="btn" data-toggle="modal" data-target="#myModal">Log In</button>
                        <button type="submit" class="btn">Sign Up</button>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
  