<footer id="master-footer">
    <div id="footerTop">
        <div class="container pull-right">
            <img src="~/Content/images/logoFooter.png" />
        </div>
    </div>
    <div id="footerBottom">
        <div class="container">
                        <img src="~/Content/images/logoFooter.png" />
        </div>
    </div>
</footer>    

