<div class="navbar navbar-inverse navbar-fixed-top" id="master-header">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="/"><img class="header-logo" src="../../../../Content/images/logoHeader.png" /></a>
            <div class="nav nav-collapse collapse pull-right">
                <ul class="nav">        
                    <li><a href="/examine"><span aria-hidden="true" data-icon="&#xf0f1;" class="nav-icon"> </span> Examine</a></li>
                    <li><a href="/research"><span aria-hidden="true" data-icon="&#xe021;" class="nav-icon"></span> Reseach</a></li>
                    <li><a href="/research#locate"><span aria-hidden="true" data-icon="&#xe051;" class="nav-icon"></span> Locate</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>






