@model SportsWebPt.Platform.Web.Application.SelfExamViewModel
@{
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
    Model.AreaBundles.Add("~/bundles/examineapplib");
}

<div>
         <h2><span aria-hidden="true" data-icon="&#xf0f1;" class="header-icon" /> Examine</h2>
</div>
<div class="container">
    <ul class="breadcrumb">
        <li><a href="#">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Library</a> <span class="divider">/</span></li>
        <li class="active">Data</li>
    </ul>
    <div>
        <ul id="skeletor" class="img-rounded">
            <li id="rightAnkle">
                <a href="http://en.wikipedia.org/wiki/North_America">
                    <span>
                        <strong>North America</strong> 
                        Population: 528,720,588
                    </span>
                </a>
            </li>
            <li id="rightQuad">
                <a href="http://en.wikipedia.org/wiki/North_America">
                    <span>
                        <strong>North America</strong> 
                        Population: 528,720,588
                    </span>
                </a>
            </li>
            <li id="rightKnee">
                <a href="http://en.wikipedia.org/wiki/North_America">
                    <span>
                        <strong>North America</strong> 
                        Population: 528,720,588
                    </span>
                </a>
            </li>
            <li id="rightFoot">
                <a href="http://en.wikipedia.org/wiki/North_America">
                    <span>
                        <strong>North America</strong> 
                        Population: 528,720,588
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
