@model SportsWebPt.Platform.Web.Application.SelfExamViewModel
@{
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
    Model.AreaBundles.Add("~/bundles/examineapplib");
}
<h2>Self Examine</h2>
<div id="skeletor" class="img-rounded">
    

</div>
