
<div class="container push-down-sm">
    <div>
        <div class="row push-down-lg">
            <!-- sidebar -->
            <div class="col-md-3 sidebar">
                <div class="section-menu">
                    <ul class="nav nav-list">
                        <li ng-class="{'active' : selectedTab == 'us' }">
                            <a ng-click="onTabSelect('us')" class="first"><span>About Us</span><small>How it began</small></a>
                        </li>
                        <li ng-class="{'active' : selectedTab == 'team' }">
                            <a ng-click="onTabSelect('team')"><span>The Team</span><small>Who are we</small></a>
                        </li>
                        <li ng-class="{'active' : selectedTab == 'contact' }">
                            <a ng-click="onTabSelect('contact')"><span>Contact Us</span><small>How to get in touch</small></a>
                        </li>
                        <li ng-class="{'active' : selectedTab == 'privacy' }">
                            <a ng-click="onTabSelect('privacy')"><span>Privacy</span><small>Your information</small></a>
                        </li>
                        <li ng-class="{'active' : selectedTab == 'terms' }">
                            <a ng-click="onTabSelect('terms')"><span>Terms</span><small>How it began</small></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'us' }">Static content</div>
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'team' }">Static content 2</div>
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'contact' }">Static content 3</div>
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'privacy' }">Static content 4</div>
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'terms' }">Static content 5</div>
                </div>
            </div>
        </div>
    </div>
</div>

