@model SportsWebPt.Platform.Web.Application.ExamineViewModel
@{
    Model.AreaBundles.Add("~/bundles/examineapplib");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}

<div>
    <h2><span aria-hidden="true" data-icon="&#xf0f1;" class="header-icon" /> Examine</h2>
</div>
<div id="examine-container">
    <ul class="breadcrumb">
        <li><a href="#" id="skeleton-nav">Select Region(s)</a> <span class="divider">\</span></li>
        <li><a href="#describe" id="description-nav">Describe Discomfort</a> <span class="divider">\</span></li>
        <li><a href="#injuries" id="injuries-nav">Potential Injuries</a></li>
    </ul>
</div>



<div class="container">
    <div id="skeleton-container" class="view">
        <div>
            <h3><strong>Please select region(s) of discomfort</strong></h3>
        </div>
        <div class="row">
            <div class="span2">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Selected Regions</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: selectedAreas">
                        <tr>
                            <td data-bind="text: name"></td>
                        </tr>
                    </tbody>            
                </table>
            </div>
            <div class="span10">
                <ul id="skeleton" data-bind="foreach: symptomaticRegions" class="img-rounded">
                    <li data-bind="attr: { id: name }, click: $parent.selectArea, event: { mouseover: $parent.areaMouseOver, mouseout: $parent.areaMouseOut}" />
                </ul>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-inverse btn-large" href="#describe" >Next &raquo;</a>
        </div>
    </div>
        
    <div id="description-detail" class="view">
        <section data-bind="template: { name: areaTemplate, foreach: selectedAreas }"></section>
        <div>
            <a class="btn btn-inverse btn-large" href="javascript:history.back()" >&laquo; Back</a>
        </div>
    </div>
</div>


<input type="hidden" id="skeleton-areas" value="@Html.Raw(Json.Encode(Model.SymptomaticRegions))" />



