<section>
    <div id="signUpFacebook">
        <a class="login-facebook login-btn" ng-click="showOAuthProvider('facebook')"><i class="icon-sportswebpt-facebook login-icon"></i>Sign up using Facebook</a>
    </div>
    <div id="signUpGoogle">
        <a class="login-google login-btn" ng-click="showOAuthProvider('google')"><i class="icon-sportswebpt-google-plus login-icon"></i>Sign up using Google</a>
    </div>
    <div class="top-border-header text-center"><strong>or create a SportsWebPt account</strong></div>
    <form novalidate class="text-center" action="/createuser" rc-submit="signUp()" method="POST" name="signUpForm">
        <div class="form-group" ng-class="{'has-error': rc.signUpForm.needsAttention(signUpForm.username)}">
            <div class="input-group">
                <span class="input-group-addon icon-sportswebpt-user"></span>
                <input class="form-control" name="username" type="text" ng-model="user.username" placeholder="User Name" ng-minlength="6" ng-maxlength="12" required>
            </div>
            <span class="help-block" ng-show="signUpForm.username.$error.required && rc.signUpForm.attempted">Required</span>
            <span class="help-block" ng-show="signUpForm.username.$error.minlength && rc.signUpForm.attempted">Username must be between 6 and 12 characters</span>
        </div>
        <div class="form-group" ng-class="{'has-error': rc.signUpForm.needsAttention(signUpForm.signupEmail)}">
            <div class="input-group ">
                <span class="input-group-addon icon-sportswebpt-envelope"></span>
                <input class="form-control" type="email" ng-model="user.email" name="signupEmail" placeholder="Email Address" required>
            </div>
            <span class="help-block" ng-show="signUpForm.signupEmail.$error.required && rc.signUpForm.attempted">Required</span>
            <span class="help-block" ng-show="signUpForm.signupEmail.$error.email && rc.signUpForm.attempted">Please enter a valid email address</span>
        </div>
        <div class="form-group" ng-class="{'has-error': rc.signUpForm.needsAttention(signUpForm.signupPassword)}">
            <div class="input-group ">
                <span class="input-group-addon icon-sportswebpt-suitcase3"></span>
                <input class="form-control" id="signupPassword" name="signupPassword" type="password" ng-model="user.password" placeholder="Password" ng-minlength="6" ng-maxlength="12" required>
            </div>
            <span class="help-block" ng-show="signUpForm.signupPassword.$error.required  && rc.signUpForm.attempted">Required</span>
            <span class="help-block" ng-show="signUpForm.signupPassword.$error.minlength && rc.signUpForm.attempted">Password must be between 6 and 12 characters</span>
        </div>
        <div class="form-group" ng-class="{'has-error': rc.signUpForm.needsAttention(signUpForm.signupPassword2)}">
            <div class="input-group ">
                <span class="input-group-addon icon-sportswebpt-suitcase3"></span>
                <input class="form-control" id="signupPassword2" name="signupPassword2" type="password" pw-check="signupPassword" ng-model="user.password2" placeholder="Password" required>
            </div>
            <span class="help-block" ng-show="signUpForm.signupPassword2.$error.required  && rc.signUpForm.attempted">Required</span>
            <span class="help-block" ng-show="signUpForm.signupPassword2.$error.pwmatch  && rc.signUpForm.attempted">Passwords must be the same.</span>
        </div>
        <div class="text-center">
            <button class="btn btn-default" type="submit">Sign up >></button>
        </div>
        <label id="errorDisplay"></label>
    </form>
</section>