<div class="container">
    <div>
        <div class="row push-down-lg">
            <div class="col-md-4">
                <img height="100" ng-src={{clinic.displayImage}} />
            </div>
        </div>
        <div class="row push-down-md">
            <h4>You have been invited by <span ng-bind="clinic.name"></span> to register as a patient on SportsWebPt.</h4>
        </div>
        <div ng-if="!isAuthenticated" class="row push-down-lg">
            <h4>First, you will need to sign in or create an account before we can sync you up.</h4>
            <div class="col-md-2 col-lg-offset-2">
                <button class="btn btn-warning" ng-click="startRegistration()">Get Started!</button>
            </div>
        </div>
        <div ng-if="isAuthenticated" class="row push-down-lg">
            <div class="row">
                <div class="col-md-3">
                    <label>Registration Email Address:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-disabled="true" ng-model="registrationDetails.emailAddress" />
                </div>
            </div>
            <div>
                <strong><span ng-bind="error" class="text-danger"></span></strong>
            </div>
            <input type="hidden" class="form-control" ng-model="registrationDetails.pin" />
            <div>
                <button class="btn btn-warning" ng-click="validate()">Register</button>
            </div>
        </div>
    </div>
</div>

