<div class="container" ng-show="!isValidated">
    <div>
        <span ng-bind="error"></span>
    </div>
    <h2>Patient Registration</h2>
    
    <div ng-if="!user" class="row push-down-lg">
        <div>
            <h4>You have been requested by Clinic X to register on SportsWebPt.</h4>
            <h4>First, you will need to sign in or create an account before we can sync you up.</h4>
        </div>
        <div>
            <button class="btn btn-warning" ng-click="startRegistration()">Get Started!</button>
        </div>
    </div>
    
    <div ng-if="user" class="row push-down-lg">
        <div>
            <div class="col-md-3">
                <label> Email Address:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="registrationDetails.emailAddress" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label> Registration PIN:</label>
            </div>
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="registrationDetails.pin" />
            </div>
        </div>
        <div>
            <button class="btn btn-warning" ng-click="validate()">Start Registration</button>
        </div>
    </div>
</div>





<div class="container" ng-show="isValidated">
    <div class="row" ng-show="!isConfirmed">
        <div class="col-md-6">
            <h2>{{clinic.name}}</h2>
            <div>
                <img height="100" ng-src={{clinic.displayImage}} />
            </div>
        </div>
        <div class="col-md-6">
            <register-patient-dialog></register-patient-dialog>
        </div>
    </div>
    <div ng-show="isConfirmed">
        <h2>This Pin is already confirmed</h2>
    </div>
</div>