<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Model.title</title>
</head>
<body>
    <h2>Register</h2>
    <form action="/register?signin=@Model.signin" method="POST">
        <div class="form-group">
            <label for="Username">Username</label>
            <input type="text" name="username" size="10" />
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="text" name="email" size="10" />
        </div>
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" name="password" size="10" />
        </div>
        <div class="form-group">
            <label for="First">First Name</label>
            <input type="text" name="firstName" size="10" />
        </div>
        <div class="form-group">
            <label for="Last">Last Name</label>
            <input type="text" name="lastName" size="10" />
        </div>
        <div class="form-group">
            <label for="Invite">Invitation Code</label>
            <input type="text" name="inviteCode" size="10" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary"></input>
        </div>
    </form>
</body>
</html>