@font-face {
	font-family: 'SWPT';
	src:url('fonts/SWPT.eot');
	src:url('fonts/SWPT.eot?#iefix') format('embedded-opentype'),
		url('fonts/SWPT.woff') format('woff'),
		url('fonts/SWPT.ttf') format('truetype'),
		url('fonts/SWPT.svg#SWPT') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'SWPT';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="iconmoon-"] {
*/
.iconmoon-search, .iconmoon-google-plus, .iconmoon-facebook-sign, .iconmoon-twitter-sign, .iconmoon-github-sign, .iconmoon-camera-retro, .iconmoon-cogs, .iconmoon-target, .iconmoon-target-2, .iconmoon-magnifier, .iconmoon-user-md, .iconmoon-stethoscope, .iconmoon-building, .iconmoon-refresh, .iconmoon-repeat, .iconmoon-facebook, .iconmoon-twitter, .iconmoon-google-plus-2, .iconmoon-google-plus-3, .iconmoon-google-plus-4, .iconmoon-untitled, .iconmoon-untitled-2, .iconmoon-untitled-3, .iconmoon-untitled-4, .iconmoon-untitled-5, .iconmoon-untitled-6, .iconmoon-untitled-7, .iconmoon-untitled-8, .iconmoon-untitled-9, .iconmoon-untitled-10, .iconmoon-untitled-11, .iconmoon-untitled-12, .iconmoon-untitled-13, .iconmoon-untitled-14, .iconmoon-untitled-15, .iconmoon-untitled-16, .iconmoon-untitled-17, .iconmoon-untitled-18, .iconmoon-untitled-19, .iconmoon-untitled-20, .iconmoon-untitled-21, .iconmoon-untitled-22, .iconmoon-untitled-23, .iconmoon-untitled-24, .iconmoon-untitled-25, .iconmoon-untitled-26, .iconmoon-untitled-27, .iconmoon-untitled-28, .iconmoon-untitled-29, .iconmoon-untitled-30, .iconmoon-untitled-31, .iconmoon-untitled-32, .iconmoon-untitled-33, .iconmoon-untitled-34, .iconmoon-untitled-35, .iconmoon-untitled-36, .iconmoon-untitled-37, .iconmoon-untitled-38, .iconmoon-untitled-39, .iconmoon-untitled-40, .iconmoon-untitled-41, .iconmoon-locked, .iconmoon-unlocked, .iconmoon-suitcase, .iconmoon-suitcase-2, .iconmoon-chat, .iconmoon-envelope, .iconmoon-download, .iconmoon-download-2, .iconmoon-cloud, .iconmoon-suitcase-3, .iconmoon-envelope-2, .iconmoon-heart, .iconmoon-soccer, .iconmoon-caret-down, .iconmoon-caret-up, .iconmoon-caret-left, .iconmoon-caret-right, .iconmoon-circle-arrow-up, .iconmoon-circle-arrow-down, .iconmoon-chevron-up, .iconmoon-chevron-down, .iconmoon-chevron-right, .iconmoon-chevron-left, .iconmoon-thumbs-up, .iconmoon-thumbs-down, .iconmoon-heart-2, .iconmoon-star, .iconmoon-star-empty, .iconmoon-lock, .iconmoon-user, .iconmoon-shopping-cart, .iconmoon-cloudy, .iconmoon-gamepad, .iconmoon-mouse, .iconmoon-medkit, .iconmoon-wrench, .iconmoon-rss, .iconmoon-credit, .iconmoon-clipboard, .iconmoon-credit-card, .iconmoon-barbell, .iconmoon-clipboard-2, .iconmoon-clipboard-3, .iconmoon-clipboard-4, .iconmoon-copy {
	font-family: 'SWPT';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.iconmoon-search:before {
	content: "\e01d";
}
.iconmoon-google-plus:before {
	content: "\f0d5";
}
.iconmoon-facebook-sign:before {
	content: "\f082";
}
.iconmoon-twitter-sign:before {
	content: "\f081";
}
.iconmoon-github-sign:before {
	content: "\f092";
}
.iconmoon-camera-retro:before {
	content: "\e01e";
}
.iconmoon-cogs:before {
	content: "\f085";
}
.iconmoon-target:before {
	content: "\e01f";
}
.iconmoon-target-2:before {
	content: "\e020";
}
.iconmoon-magnifier:before {
	content: "\e021";
}
.iconmoon-user-md:before {
	content: "\f0f0";
}
.iconmoon-stethoscope:before {
	content: "\f0f1";
}
.iconmoon-building:before {
	content: "\f0f7";
}
.iconmoon-refresh:before {
	content: "\f021";
}
.iconmoon-repeat:before {
	content: "\f01e";
}
.iconmoon-facebook:before {
	content: "\e022";
}
.iconmoon-twitter:before {
	content: "\e023";
}
.iconmoon-google-plus-2:before {
	content: "\e025";
}
.iconmoon-google-plus-3:before {
	content: "\e026";
}
.iconmoon-google-plus-4:before {
	content: "\e027";
}
.iconmoon-untitled:before {
	content: "\e02b";
}
.iconmoon-untitled-2:before {
	content: "\e02d";
}
.iconmoon-untitled-3:before {
	content: "\e02e";
}
.iconmoon-untitled-4:before {
	content: "\e02f";
}
.iconmoon-untitled-5:before {
	content: "\e030";
}
.iconmoon-untitled-6:before {
	content: "\e032";
}
.iconmoon-untitled-7:before {
	content: "\e033";
}
.iconmoon-untitled-8:before {
	content: "\e034";
}
.iconmoon-untitled-9:before {
	content: "\e035";
}
.iconmoon-untitled-10:before {
	content: "\e036";
}
.iconmoon-untitled-11:before {
	content: "\e037";
}
.iconmoon-untitled-12:before {
	content: "\e038";
}
.iconmoon-untitled-13:before {
	content: "\e039";
}
.iconmoon-untitled-14:before {
	content: "\e03a";
}
.iconmoon-untitled-15:before {
	content: "\e03b";
}
.iconmoon-untitled-16:before {
	content: "\e03c";
}
.iconmoon-untitled-17:before {
	content: "\e03d";
}
.iconmoon-untitled-18:before {
	content: "\e03e";
}
.iconmoon-untitled-19:before {
	content: "\e03f";
}
.iconmoon-untitled-20:before {
	content: "\e040";
}
.iconmoon-untitled-21:before {
	content: "\e043";
}
.iconmoon-untitled-22:before {
	content: "\e044";
}
.iconmoon-untitled-23:before {
	content: "\e047";
}
.iconmoon-untitled-24:before {
	content: "\e048";
}
.iconmoon-untitled-25:before {
	content: "\e04a";
}
.iconmoon-untitled-26:before {
	content: "\e04b";
}
.iconmoon-untitled-27:before {
	content: "\e04c";
}
.iconmoon-untitled-28:before {
	content: "\e04d";
}
.iconmoon-untitled-29:before {
	content: "\e04e";
}
.iconmoon-untitled-30:before {
	content: "\e04f";
}
.iconmoon-untitled-31:before {
	content: "\e050";
}
.iconmoon-untitled-32:before {
	content: "\e051";
}
.iconmoon-untitled-33:before {
	content: "\e052";
}
.iconmoon-untitled-34:before {
	content: "\e053";
}
.iconmoon-untitled-35:before {
	content: "\e054";
}
.iconmoon-untitled-36:before {
	content: "\e055";
}
.iconmoon-untitled-37:before {
	content: "\e056";
}
.iconmoon-untitled-38:before {
	content: "\e057";
}
.iconmoon-untitled-39:before {
	content: "\e058";
}
.iconmoon-untitled-40:before {
	content: "\e059";
}
.iconmoon-untitled-41:before {
	content: "\e05a";
}
.iconmoon-locked:before {
	content: "\e000";
}
.iconmoon-unlocked:before {
	content: "\e05b";
}
.iconmoon-suitcase:before {
	content: "\e05c";
}
.iconmoon-suitcase-2:before {
	content: "\e05d";
}
.iconmoon-chat:before {
	content: "\e05e";
}
.iconmoon-envelope:before {
	content: "\e05f";
}
.iconmoon-download:before {
	content: "\e060";
}
.iconmoon-download-2:before {
	content: "\e061";
}
.iconmoon-cloud:before {
	content: "\e062";
}
.iconmoon-suitcase-3:before {
	content: "\f0f2";
}
.iconmoon-envelope-2:before {
	content: "\f003";
}
.iconmoon-heart:before {
	content: "\e063";
}
.iconmoon-soccer:before {
	content: "\e064";
}
.iconmoon-caret-down:before {
	content: "\f0d7";
}
.iconmoon-caret-up:before {
	content: "\f0d8";
}
.iconmoon-caret-left:before {
	content: "\f0d9";
}
.iconmoon-caret-right:before {
	content: "\f0da";
}
.iconmoon-circle-arrow-up:before {
	content: "\f0aa";
}
.iconmoon-circle-arrow-down:before {
	content: "\f0ab";
}
.iconmoon-chevron-up:before {
	content: "\f077";
}
.iconmoon-chevron-down:before {
	content: "\f078";
}
.iconmoon-chevron-right:before {
	content: "\f054";
}
.iconmoon-chevron-left:before {
	content: "\f053";
}
.iconmoon-thumbs-up:before {
	content: "\f087";
}
.iconmoon-thumbs-down:before {
	content: "\f088";
}
.iconmoon-heart-2:before {
	content: "\f004";
}
.iconmoon-star:before {
	content: "\f005";
}
.iconmoon-star-empty:before {
	content: "\f006";
}
.iconmoon-lock:before {
	content: "\f023";
}
.iconmoon-user:before {
	content: "\f007";
}
.iconmoon-shopping-cart:before {
	content: "\f07a";
}
.iconmoon-cloudy:before {
	content: "\e002";
}
.iconmoon-gamepad:before {
	content: "\e003";
}
.iconmoon-mouse:before {
	content: "\e004";
}
.iconmoon-medkit:before {
	content: "\f0fa";
}
.iconmoon-wrench:before {
	content: "\f0ad";
}
.iconmoon-rss:before {
	content: "\f09e";
}
.iconmoon-credit:before {
	content: "\f09d";
}
.iconmoon-clipboard:before {
	content: "\e005";
}
.iconmoon-credit-card:before {
	content: "\e006";
}
.iconmoon-barbell:before {
	content: "\e007";
}
.iconmoon-clipboard-2:before {
	content: "\e008";
}
.iconmoon-clipboard-3:before {
	content: "\e001";
}
.iconmoon-clipboard-4:before {
	content: "\e009";
}
.iconmoon-copy:before {
	content: "\e00a";
}
