<div id="research-injury-panel">
    <span class="research-header-icon"><i class="icon-sportswebpt-medkit"></i> Injuries</span>
    <hr class="examine-report-hr" />
    <div class="row">
        <div class="col-md-3 research-vertical-splitter">
            <div class="container">
                <h3>Body Regions</h3>
                <a class="label-filter-hover"><span class="label label-danger" ng-click="setBodyRegion('')">Show All</span></a>
                <ul class="list-no-style filter-container" id="injuries-bodyregions-filter-list">
                    <li class="filter-label" ng-repeat="bodyRegion in bodyRegions">
                        <a>
                            <span class="label label-info" ng-bind="bodyRegion.name" 
                                  ng-class="{ 'selected-filter-item' : isBodyRegionSelected(bodyRegion.name)}"
                                  ng-click="setBodyRegion(bodyRegion.name)"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <h3>Signs</h3>
                <a class="label-filter-hover"><span class="label label-danger" ng-click="setSign('')">Show All</span></a>
                <ul class="list-no-style filter-container" id="injury-signs-filter-list">
                    <li class="filter-label" ng-repeat="filter in signFilters">
                        <a>
                            <span class="label label-default" ng-bind="filter.filterCategory"
                                  ng-class="{ 'selected-filter-item' : isSignSelected(filter.filterCategory)}"
                                  ng-click="setSign(filter.filterCategory)"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 research-brief-listing" kendo-cloak="{{isLoading}}">
            <brief-injury-accordian></brief-injury-accordian>
        </div>
    </div>
</div>
