@model SportsWebPt.Platform.Web.Application.LogonViewModel
@{
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
    Model.AreaBundles.Add("~/bundles/mainapplib");
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="text-center">
    <div class="login-container">
        @{Html.RenderPartial("~/Areas/Main/Views/Shared/_authDialogs.cshtml"); }
    </div>
</body>
</html>
