<div class="row push-down-md">
    <div class="row">
        <div class="col-md-6">
            <h3>Therapists</h3>
        </div>
        <div class="col-md-6">
            <button class="button" ng-click="showAddTherapistModal()">Add Therapists</button>
        </div>
    </div>
    <table class="table table-striped">
        <tr ng-repeat="clinicTherapist in therapists">
            <td><a>{{clinicTherapist.clinicTherapistIdentifier}}</a></td>
            <td><a>{{clinicTherapist.therapist.emailAddress}}</a></td>
        </tr>
    </table>
</div>