<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Therapist</h3>
    </div>
</div>
<div class="modal-body">
    <div ng-if="!formData.clinicTherapist">
        <form class="form-horizontal" novalidate rc-submit="submit()" name="addClinicTherapistForm">
            <div class="form-group">
                <label class="control-label col-md-2">Email</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" ng-model="formData.lookupEmail" />
                </div>
                <div class="col-md-4">
                    <button class="btn btn-primary">Add Therapist</button>
                </div>
            </div>
        </form>
    </div>
    <div ng-if="formData.clinicTherapist">
        <div ng-if="!formData.clinicTherapist.userConfirmed">
            <h4>Therapist: <span ng-bind="formData.clinicTherapist.clinicTherapistIdentifier"></span> has been sent an invitation to join your clinic! Please make note of this id.</h4>
        </div>
        <div ng-if="formData.clinicTherapist.userConfirmed">
            <h4>Therapist: <span ng-bind="formData.clinicTherapist.clinicTherapistIdentifier"></span> was already added to your clinic @ <span ng-bind="formData.clinicTherapist.addedOn"></span>.  </h4>
        </div>
    </div>
</div>
