<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Therapist</h3>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate rc-submit="submit()" name="addClinicTherapistForm">
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-6">
                <input type="text" class="form-control" ng-model="formData.lookupEmail" />
            </div>
            <div class="col-md-4">
                <button ng-click="validateUser()">Search</button>
            </div>
        </div>
        <div ng-show="userToAdd && userToAdd.id > 0">
            <div class="row">
                <div class="col-md-3">
                    <label> Email Address:</label>
                </div>
                <div class="col-md-5">
                    <span ng-bind="userToAdd.emailAddress"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label> First Name:</label>
                </div>
                <div class="col-md-5">
                    <span ng-bind="userToAdd.firstName"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label> Last Name:</label>
                </div>
                <div class="col-md-5">
                    <span ng-bind="userToAdd.lastName"></span>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Add User</button>
            </div>
        </div>
        <div ng-show="userToAdd && userToAdd.id == 0">
            <div class="row">
                <div class="col-md-3">
                    <label> Email Address:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="userToAdd.emailAddress" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label> First Name:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="userToAdd.firstName" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label> Last Name:</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" ng-model="userToAdd.lastName" />
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary">Add User</button>
            </div>
        </div>
    </form>
</div>
