<div>
    <div class="modal-header">
        <h3 class="modal-title">Create New Episode</h3>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate rc-submit="submit()" name="createEpisodeForm">
        <div class="form-group">
            <label class="control-label col-lg-3">Clinic</label>
            <div class="col-lg-9">
                <select class="input-sm" name="clinic" ng-change="onClinicChange()" ng-options="clinic.name for clinic in clinics" ng-model="episode.clinic">
                    <option value="">-- Select Clinic -- </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="gridStyle" ng-grid="patientGridOptions"></div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3">Name</label>
            <div class="col-lg-9" ng-class="{'has-error': rc.createEpisodeForm.needsAttention(createEpisodeForm.episodeName)}">
                <input type="text" class="form-control" name="episodeName" ng-model="episode.name" placeholder="Name" ng-minlength="2" ng-maxlength="50">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-lg-3">Description</label>
            <div class="col-lg-9" ng-class="{'has-error': rc.createEpisodeForm.needsAttention(createEpisodeForm.episodeDescription)}">
                <input type="text" class="form-control" name="episodeDescription" ng-model="episode.description" placeholder="Description" ng-minlength="2" ng-maxlength="10000">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button ng-click="reset()" type="reset" class="btn btn-primary">Cancel</button>
        </div>

    </form>
</div>
