<div class="container" id="user-dashboard-page">
    <h2>My Dashboard</h2>
    <div class="row push-down-md">
        <div class="well col-md-3">
            <h3>Favorite Exercises</h3>
            <table class="table table-striped">
                <tr ng-repeat="exercise in currentUser.exercises">
                    <td><a ng-href="#/research/exercises/{{exercise.entityId}}">{{exercise.entityName}}</a></td>
                </tr>
            </table>
        </div>
        <div class="well col-md-3 col-md-offset-1">
            <h3>Favorite Plans</h3>
            <table class="table table-striped">
                <tr ng-repeat="plan in currentUser.plans">
                    <td><a ng-href="#/research/plans/{{plan.entityId}}">{{plan.entityName}}</a></td>
                </tr>
            </table>
        </div>
        <div class="well col-md-3 col-md-offset-1">
            <h3>Favorite Injuries</h3>
            <table class="table table-striped">
                <tr ng-repeat="injury in currentUser.injuries">
                    <td><a ng-href="#/research/injuries/{{injury.entityId}}">{{injury.entityName}}</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>

