@model SportsWebPt.Platform.Web.Application.IndexViewModel
@{
    Model.AreaBundles.Add("~/bundles/mainapplib");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}

<header class="hero-unit" id="mainsplash">
    <h1>Your recovery</h1>
    <h2>Guided, effective, always accessible</h2>
    <p>&nbsp;</p>
    <p><a class="btn btn-info btn-large" href="./examine" >Get started &raquo;</a>
    <p>&nbsp;</p>
</header>
 
<div class="row">
    <div class="span3">
        <span aria-hidden="true" data-icon="&#xf0f1;" class="splash-icon"></span>
        <span class="screen-reader-text">Examination</span>
        <h2>Examine</h2>
        <p>Use our self examination wizard designed by professionals to pin point your injury.</p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="span3">
        <span aria-hidden="true" data-icon="&#xe021;" class="splash-icon"></span>
        <span class="screen-reader-text">Research</span>
        <h2>Research</h2>
        <p>Documents, videos and links organized by professionals to address specific injuries saving you time and increasing your confidence</p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="span3">
        <i aria-hidden="true" class="iconmoon-calendar-plan splash-icon"></i>
        <span class="screen-reader-text">Plan</span>
        <h2>Plan</h2>
        <p>Organize your own recovery using pre-configured  plans for common injuries. Get feedback and advice from professionals to augment you plan based on your progression </p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="span3">
        <span aria-hidden="true" data-icon="&#xe018;" class="splash-icon"></span>
        <span class="screen-reader-text">Conference</span>
        <h2>Conference</h2>
        <p>Setup one on one video conferences with our licensed therapists to further diagnosis injuries, assist with exercises or evaluate progression.</p>
        <p><a class="btn" href="#">Learn more &raquo;</a></p>
    </div>
</div>
