    <div class="view container" id="admin-plan-panel">
        <div class="container">
            <h2> Plans</h2>
            <hr class="examine-report-hr"/>
            <div class="container" id="admin-plan-list">
                <a data-bind="click: addPlan"><span aria-hidden="true" class="action-link-icon" data-icon="&#xe04b;"/> Add Plan </a>
                <table class="table table-striped">
                    <tbody data-bind="template: { name: planListTemplate, foreach: plans }">
                    </tbody>            
                </table>
            </div>
        </div>
    </div>

      
<div class="modal fade" role="dialog" id="admin-plan-form-dialog">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="planModalLabel">Add /Edit Plans</h3>
        </div>
        <div class="modal-body well">
            <form class="form-horizontal" data-bind="validateForm: planValidationOptions" id="admin-plan-form">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputName">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputName" name="name" data-bind="value: routineName" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputDescription">Description</label>
                            <div class="col-lg-10">
                                <textarea rows="5 "id="inputDescription" class="form-control" name="description" data-bind="kendoEditor: { value: description }" placeholder="Description">
                                    </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputInstructions">Workout Instructions</label>
                            <div class="col-lg-10">
                                <textarea rows="5" id="inputInstructions" class="form-control" name="instructions" data-bind="kendoEditor: { value: instructions }" placeholder="Instructions">
                                    </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputDuration">Workout Time</label>
                            <div class="col-lg-10">
                                <select class="input-sm" id="inputDuration" name="duration" data-bind="options: rangeValues, value: duration"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputDuration">Structures Involved</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputMuslces" name="muscles" data-bind="value: structuresInvolved" placeholder="Structures">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputPageName">Page Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputPageName" name="pageName" data-bind="value: pageName" placeholder="Page Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputTags">Tags</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="inputTags" name="tags" data-bind="value: tags" placeholder="Tags">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputCategory">Category</label>
                            <div class="col-lg-3">
                                <select id="inputCategory" class="form-control" name="category" multiple="multiple" size="8" data-bind="options: availableCategories, selectedOptions: categories" >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-2" for="inputPlanBodyRegions">BodyRegions</label>
                            <div class="col-lg-3">
                                <select id="inputPlanBodyRegions"  class="form-control" name="planBodyRegions" multiple="multiple" size="8" data-bind="options: availableBodyRegions, optionsText: 'name', selectedOptions: bodyRegions" >
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Exercises</label>
                            <div>
                                <button class="btn btn-primary" id="btn-admin-add-plan-exercise"data-bind="click: addNewExercise">Add</button>
                            </div>
                            <div>
                                <table class="table table-striped">
                                    <thead>
                                        <th>Name</th>
                                        <th>Sets</th>
                                        <th>Reps</th>
                                        <th>Per Day</th>
                                        <th>Per Week</th>
                                        <th>Hold</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody data-bind="foreach: exercises">
                                        <tr>
                                            <td><select id="inputPlanExercise" class="form-control" name="adminPlanExercises" data-bind="options: $parent.availableExercises, optionsText: function (item) { return item.name() + ' [' + item.id() + ' ]' }, value: exerciseId, optionsValue: 'id'" ></select></td>
                                            <td><select class="input-sm" id="inputSets" name="sets" data-bind="options: $parent.rangeValues, value: sets"></select></td>
                                            <td><select class="input-sm" id="inputReps" name="perday" data-bind="options: $parent.rangeValues, value: repititions"></select></td>
                                            <td><select class="input-sm" id="inputWeek" name="perweek" data-bind="options: $parent.rangeValues, value: perWeek"></select></td>
                                            <td><select class="input-sm" id="inputDay" name="perday" data-bind="options: $parent.rangeValues, value: perDay"></select></td>
                                            <td><select id="inputHoldFor" class="input-sm" name="adminHoldForSeconds" data-bind="options: $parent.rangeValues, value: holdFor"></select></td>
                                            <td><select id="inputHoldType" class="input-sm" name="adminHoldType" data-bind="options: $parent.holdTypes, value: holdType"></select></td>
                                            <td><button class="btn btn-primary" data-bind="click: $parent.removeExercise">Remove</button></td>
                                        </tr>
                                    </tbody>            
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</div>
</div>
