    <div class="view container" id="admin-body-part-panel">
            <h2> Body Parts</h2>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Common Name</th>
                                <th>Scientific Name</th>
                                <th>Primary Areas</th>
                                <th>Secondary Areas</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: bodyParts">
                            <tr>
                                <td data-bind="text: commonName"></td>
                                <td data-bind="text: scientificName"></td>
                                <td>
                                    <ul data-bind="foreach: primaryAreas">
                                        <li data-bind="text: displayName"></li>
                                    </ul>
                                </td>
                                <td>
                                    <ul data-bind="foreach: secondaryAreas">
                                        <li data-bind="text: displayName"></li>
                                    </ul>
                                </td>
                                <td><button class="btn-primary" data-bind="click: $parent.bindSelectedBodyPart">Edit</button></td>
                            </tr>
                        </tbody>            
                    </table>
                </div>
                <div class="col-md-5 well">
                    <form class="form-horizontal" data-bind="validateForm: bodyPartValidationOptions" id="admin-body-part-form">
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="inputCommonName">Common Name</label>
                            <div class="col-lg-9">
                                <input type="text" id="inputCommonName" class="form-control" name="commonName" data-bind="value: commonName" placeholder="Common Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="scientificName">Scientific Name</label>
                            <div class="col-lg-9">
                                <input type="text" id="Text1" class="form-control" name="scientificName" data-bind="value: scientificName" placeholder="Scientific Name">
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="control-label col-lg-3" for="inputPrimaryAreas">Primary Areas</label>
                            <div class="col-lg-9">
                                <select id="inputPrimaryAreas" class="form-control" multiple size="8" name="primaryAreas" data-bind="options: availableAreas, optionsText: 'displayName', selectedOptions: primaryAreas" >
                                </select>
                            </div>
                       </div>
                       <div class="form-group">
                            <label class="control-label col-lg-3" for="inputSecondaryAreas">Secondary Areas</label>
                            <div class="col-lg-9">
                                <select id="inputSecondaryAreas" class="form-control" multiple size="8" name="secondaryAreas" data-bind="options: availableAreas, optionsText: 'displayName', selectedOptions: secondaryAreas" >
                                </select>
                            </div>
                       </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                     </form>
                </div>
            </div>
    </div>