    <div class="view container" id="admin-equipment-panel">
            <h2> Equipment</h2>
            <hr class="examine-report-hr"/>
        <div class="row">
            <div class="col-md-7">
                <table class="table table-striped">
                    <tbody data-bind="template: { name: equipmentListTemplate, foreach: equipment}">
                    </tbody>            
                </table>
            </div>
            <div class="col-md-5 well">
                <form class="form-horizontal" data-bind="validateForm: equipmentValidationOptions" id="admin-equipment-form">
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputCommonName">Name</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputCommonName" name="commonName" data-bind="value: selectedEquipment.commonName" placeholder="Common Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputCategory">Category</label>
                        <div class="col-lg-9">
                            <select id="inputCategory" class="form-control" name="category" data-bind="options: availableCategories, value: selectedEquipment.category" >
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputProductLink1">Product 1</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputProductLinkName1" name="productLinkName1" data-bind="value: selectedEquipment.productLinkName1" placeholder="Product Name">
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputProductLink1">P1 Url</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputProductLink1" name="productLink1" data-bind="value: selectedEquipment.productLink1" placeholder="Product Url">
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputProductLink1">Product 2</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputProductLinkName2" name="productLinkName2" data-bind="value: selectedEquipment.productLinkName2" placeholder="Product Name">
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputProductLink2">P2 Url</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputProductLink2" name="productLink2" data-bind="value: selectedEquipment.productLink2" placeholder="Product Url">
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputProductLink1">Product 3</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputProductLinkName3" name="productLinkName3" data-bind="value: selectedEquipment.productLinkName3" placeholder="Product Name">
                        </div>
                   </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputProductLink3">P3 Url</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputProductLink3" name="productLink3" data-bind="value: selectedEquipment.productLink3" placeholder="Product Url">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-3" for="inputPriceRange">Price Range</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="inputPriceRange" name="priceRange" data-bind="value: selectedEquipment.priceRange" placeholder="Price Range">
                        </div>
                   </div>
                    <div class="text-center">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                 </form>
            </div>
            </div>
    </div>
