    <div class="view container" id="admin-sign-panel">
            <h2> Signs</h2>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: signs">
                            <tr>
                                <td data-bind="text:description"></td>
                                <td data-bind="text:category"></td>
                                <td><button class="btn-primary" data-bind="click: $parent.bindSelectedSign">Edit</button></td>
                            </tr>
                        </tbody>            
                    </table>
                </div>
                <div class="col-md-5 well">
                    <form class="form-horizontal" data-bind="validateForm: signValidationOptions" id="admin-sign-form">
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                                <input type="text" id="inputDescription" name="description" data-bind="value: selectedSign.description" placeholder="Description">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCategory">Category</label>
                            <div class="controls">
                                <select id="inputCategory" name="category" data-bind="options: availableCategories, value: selectedSign.category" >
                                </select>
                            </div>
                       </div>
                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                     </form>
                </div>
            </div>
    </div>