    <div class="view container" id="admin-injury-panel">
        <div class="container">
            <h2> Injuries</h2>
            <hr class="examine-report-hr"/>
            <div class="container" id="admin-injury-list">
                <a data-bind="click: addInjury" class="action-link-icon"><i class="icon-sportswebpt-keyboard1"></i> Add Injury </a>
                <table class="table table-striped">
                    <tbody data-bind="template: { name: injuryListTemplate, foreach: injuries }">
                    </tbody>            
                </table>
            </div>
        </div>
        <div class="modal fade" role="dialog" id="admin-injury-form-dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>Add /Edit Injury</h3>
            </div>
            <div class="modal-body well">
                <form class="form-horizontal" data-bind="validateForm: injuryValidationOptions" id="admin-injury-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputCommonName">Common Name</label>
                                <div class="col-lg-9">
                                    <input type="text" id="inputCommonName" class="form-control" name="commonName" data-bind="value: commonName" placeholder="Common Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputMedicalName">Medical Name</label>
                                <div class="col-lg-9">
                                    <input type="text" id="inputMedicalName" class="form-control" name="medicalName" data-bind="value: medicalName" placeholder="Medical Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputOpeningStatement">Opening Statement</label>
                                <div class="col-lg-9">
                                    <textarea id="inputOpeningStatement" class="form-control" name="openingStatement" rows="5" data-bind="kendoEditor: { value: openingStatement, tools: $root.kendoEditorOptions }" placeholder="Opening Statement">
                                        </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputDescription">Description</label>
                                <div class="col-lg-9">
                                    <textarea rows="5 "id="inputDescription" class="form-control" name="description" data-bind="kendoEditor: { value: description, tools: $root.kendoEditorOptions }" placeholder="Description">
                                        </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputRecovery">Recovery</label>
                                <div class="col-lg-9">
                                    <textarea rows="5 "id="inputRecovery" class="form-control" name="recovery" data-bind="kendoEditor: { value: recovery, tools: $root.kendoEditorOptions }" placeholder="Recovery">
                                        </textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputPageName">Page Name</label>
                                <div class="col-lg-9">
                                    <input type="text" id="inputPageName" class="form-control" name="pageName" data-bind="value: pageName" placeholder="Page Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputTags">Tags</label>
                                <div class="col-lg-9">
                                    <input type="text" id="inputTags" name="tags" class="form-control" data-bind="value: tags" placeholder="Tags">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputAnimationTag">Animation Tag</label>
                                <div class="col-lg-9">
                                    <input type="text" id="inputAnimationTag" name="animationTag" class="form-control" data-bind="value: animationTag" placeholder="Animation Tag">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Symptoms</label>
                                <div>
                                    <button class="btn btn-primary" id="btn-admin-add-plan-exercise"data-bind="click: addNewSymptom">Add</button>
                                </div>
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                            <th>Symptom</th>
                                            <th>BodyPart</th>
                                            <th>Response</th>
                                            <th>Action</th>
                                            <th></th>
                                        </thead>
                                        <tbody data-bind="foreach: injurySymptoms">
                                            <tr>
                                                <td><select id="inputInjurySymptom" class="form-control" name="adminInjurySymptom" data-bind="options: $parent.availableSymptoms, optionsText: 'displayName', value: symptomId, optionsValue: 'id', event: { change: $parent.symptomSelectionChanged }" ></select></td>
                                                <td><select id="inputInjuryBodyPart" class="form-control" name="adminInjuryBodyPart" data-bind="options: $parent.availableBodyPartMatrix, optionsText: 'displayName', value: bodyPartMatrixItemId, optionsValue: 'id'" ></select></td>
                                                <td><div data-bind="template: { name: renderTemplate(), data: $data }"></div></td>
                                                <td><button class="btn btn-primary" data-bind="click: $parent.removeSymptom">Remove</button></td>
                                            </tr>
                                        </tbody>            
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputCauses">Causes</label>
                                <div class="col-lg-9">
                                    <select id="inputCauses" name="causes" class="form-control" multiple="multiple" size="6" data-bind="options: availableCauses, optionsText: 'description', selectedOptions: causes" >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputSigns">Signs</label>
                                <div class="col-lg-9">
                                    <select id="inputSigns" name="signs" class="form-control" multiple="multiple" size="6" data-bind="options: availableSigns, optionsText: function(item) { return item.description() + ' : ' + item.category() }, selectedOptions: signs" >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputPlans">Plans</label>
                                <div class="col-lg-9">
                                    <select id="inputPlans" name="plans" class="form-control" multiple="multiple" size="6" data-bind="options: availablePlans, optionsText: function (item) { return item.routineName() + ' [' + item.id() + ' ]' }, selectedOptions: plans" >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputTreatments">Treatments</label>
                                <div class="col-lg-9">
                                    <select id="inputTreatments" name="treatments" class="form-control" multiple="multiple" size="6" data-bind="options: availableTreatments, optionsText: 'name', selectedOptions: treatments" >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-lg-3" for="inputBodyRegions">BodyRegions</label>
                                <div class="col-lg-9">
                                    <select id="inputBodyRegions" class="form-control" name="bodyRegions" multiple="multiple" size="6" data-bind="options: availableBodyRegions, optionsText: 'name', selectedOptions: bodyRegions" >
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Prognoses</label>
                                <div>
                                    <button class="btn btn-primary" id="btn-admin-add-prognosis"data-bind="click: addNewPrognosis">Add</button>
                                </div>
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                            <th>Prognosis</th>
                                            <th>Duration</th>
                                            <th>Action</th>
                                            <th></th>
                                        </thead>
                                        <tbody data-bind="foreach: injuryPrognoses">
                                            <tr>
                                                <td><select id="inputInjuryPrognosis" class="form-control" name="adminInjuryPrognosis" data-bind="options: $parent.availablePrognoses, optionsText: function(item) { return  item.name() + ':' + item.id(); }, value: prognosisId, optionsValue: 'id'" ></select></td>
                                                <td><input id="inputInjuryPrognosisDuration" class="form-control" type="text" name="adminInjuryPrognosisDuration" data-bind="value:duration" /></td>
                                                <td><button class="btn btn-primary" data-bind="click: $parent.removePrognosis">Remove</button></td>
                                            </tr>
                                        </tbody>            
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
