    <div class="view container" id="admin-equipment-panel">
            <h2> Equipment</h2>
            <hr class="examine-report-hr"/>
        <div class="row-fluid">
            <div class="span7">
                <table class="table table-striped">
                    <tbody data-bind="template: { name: equipmentListTemplate, foreach: equipment}">
                    </tbody>            
                </table>
            </div>
            <div class="span5 well">
                <form class="form-horizontal" data-bind="validateForm: equipmentValidationOptions" id="admin-equipment-form">
                    <div class="control-group">
                        <label class="control-label" for="inputCommonName">Common Name</label>
                        <div class="controls">
                            <input type="text" id="inputCommonName" name="commonName" data-bind="value: selectedEquipment.commonName" placeholder="Common Name">
                        </div>
                   </div>
                    <div class="control-group">
                        <label class="control-label" for="inputTechnicalName">Technical Name</label>
                        <div class="controls">
                            <input type="text" id="inputTechnicalName" name="technicalName" data-bind="value: selectedEquipment.technicalName" placeholder="Tech Name">
                        </div>
                   </div>
                    <div class="control-group">
                        <label class="control-label" for="inputVendorName">Vendor</label>
                        <div class="controls">
                            <input type="text" id="inputVendorName" name="recommendedVendor" data-bind="value: selectedEquipment.recommendedVendor" placeholder="Vendor">
                        </div>
                   </div>
                    <div class="control-group">
                        <label class="control-label" for="inputPriceRange">Price Range</label>
                        <div class="controls">
                            <input type="text" id="inputPriceRange" name="priceRange" data-bind="value: selectedEquipment.priceRange" placeholder="Price Range">
                        </div>
                   </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                 </form>
            </div>
            </div>
    </div>
