    <div class="view container" id="admin-plan-panel">
        <div class="container">
            <h2> Plans</h2>
            <hr class="examine-report-hr"/>
            <div class="container-fluid well">
                    <form class="form-horizontal" data-bind="validateForm: planValidationOptions" id="admin-plan-form">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputName">Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputName" name="name" data-bind="value: routineName" placeholder="Name">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputCategory">Category</label>
                                    <div class="controls">
                                        <select id="inputCategory" name="category" data-bind="options: availableCategories, value: category" >
                                        </select>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputDescription">Description</label>
                                    <div class="controls">
                                        <input type="text" id="inputDescription" name="description" data-bind="value: description" placeholder="Description">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputDuration">Duration</label>
                                    <div class="controls">
                                        <input type="text" id="inputDuration" name="duration" data-bind="value: duration" placeholder="Duration">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputDuration">Muscles Involved</label>
                                    <div class="controls">
                                        <input type="text" id="inputMuslces" name="muscles" data-bind="value: musclesInvolved" placeholder="Muscles">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputPageName">Page Name</label>
                                    <div class="controls">
                                        <input type="text" id="inputPageName" name="pageName" data-bind="value: pageName" placeholder="Page Name">
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label" for="inputTags">Tags</label>
                                    <div class="controls">
                                        <input type="text" id="inputTags" name="tags" data-bind="value: tags" placeholder="Tags">
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="control-group">
                                    <label class="control-label" for="inputBodyRegion">BodyRegions</label>
                                    <div class="controls">
                                        <select id="inputPlanBodyRegions" name="planBodyRegions" multiple="multiple" data-bind="options: availableBodyRegions, optionsText: 'name', selectedOptions: bodyRegions" >
                                            </select>
                                    </div>
                                </div>
                                <div data-bind="foreach:exercises">
                                    <div class="control-group">
                                        <div class="controls">
                                        <select id="inputPlanExercise" name="planBodyRegions" data-bind="options: $parent.availableExercises, optionsText: 'name', optionsValue: 'id', value: id" ></select>
                                            <input type="text" id="inputSets" name="sets" data-bind="value: sets" placeholder="sets">
                                            <input type="text" id="inputReps" name="reps" data-bind="value: repititions" placeholder="reps">
                                        </div>
                                    </div>                                    
                                </div>

                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
            </div>

            <div class="container-fluid" id="admin-plan-list">
                <table class="table table-striped">
                    <tbody data-bind="template: { name: planListTemplate, foreach: plans }">
                    </tbody>            
                </table>
            </div>
        </div>
    </div>