    <div class="view container" id="admin-body-region-panel">
            <h2> Body Regions</h2>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Region Name</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: bodyRegions">
                            <tr>
                                <td data-bind="text:name"></td>
                                <td><button class="btn-primary" data-bind="click: $parent.bindSelectedBodyRegion">Edit</button></td>
                            </tr>
                        </tbody>            
                    </table>
                </div>
                <div class="col-md-5 well">
                    <form class="form-horizontal" data-bind="validateForm: bodyRegionValidationOptions" id="admin-body-region-form">
                        <div class="form-group">
                            <label class="control-label col-lg-3" for="inputName">Name</label>
                            <div class="col-lg-9">
                                <input type="text" id="inputName" class="form-control" name="bodyRegionName" data-bind="value: selectedBodyRegion.name" placeholder="Region Name">
                            </div>
                        </div>
                        <div class="text-center">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                     </form>
                </div>
            </div>
    </div>