    <div class="view container" id="admin-video-panel">
            <h2> Videos</h2>
            <hr class="examine-report-hr"/>
            <div class="row">
                <div class="col-md-7">
                    <table class="table table-striped">
                        <tbody data-bind="template: { name: videoListTemplate, foreach: videos }">
                        </tbody>            
                    </table>
                </div>
                <div class="col-md-5 well">
                    <form class="form-horizontal" data-bind="validateForm: videoValidationOptions" id="admin-video-form">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Common Name</label>
                            <div class="controls">
                                <input type="text" id="inputName" name="name" data-bind="value: selectedVideo.name" placeholder="Name">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputMedicalName">Medical Name</label>
                            <div class="controls">
                                <input type="text" id="inputMedicalName" name="medicalName" data-bind="value: selectedVideo.medicalName" placeholder="Medical Name">
                            </div>
                       </div>
                        <div class="control-group">
                            <label class="control-label" for="inputDescription">Description</label>
                            <div class="controls">
                                <input type="text" id="inputDescription" name="description" data-bind="value: selectedVideo.description" placeholder="Description">
                            </div>
                       </div>
                        <div class="control-group">
                            <label class="control-label" for="inputFileName">FileName</label>
                            <div class="controls">
                                <input type="text" id="inputFileName" name="fileName" data-bind="value: selectedVideo.filename" placeholder="File Name">
                            </div>
                       </div>
                        <div class="control-group">
                            <label class="control-label" for="inputYoutubeId">Youtube Video Id</label>
                            <div class="controls">
                                <input type="text" id="inputYoutubeId" name="youtubeId" data-bind="value: selectedVideo.youtubeVideoId" placeholder="Youtube Video Id">
                            </div>
                       </div>
                        <div class="form-actions">
                          <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                     </form>
                </div>
            </div>
    </div>
    
