@model SportsWebPt.Platform.Web.Admin.AdminIndexViewModel
@{
    Model.AreaBundles.Add("~/bundles/adminapplib");
    Layout = "~/Areas/Main/Views/Shared/_masterLayout.cshtml";
}

<div>
    <h2>Admin</h2>
</div>

<div class="row content-container-panel" id="admin-main-panel">
    
    <div class="container" id="admin-nav-panel">
        <div class="row" >
            <div class="col-md-1">
                <a href="#videos">Videos</a>
            </div>
            <div class="col-md-1">
                <a href="#equipment">Equipment</a>
            </div>
            <div class="col-md-1">
                <a href="#exercises">Exercises</a>
            </div>
            <div class="col-md-1">
                <a href="#plans">Plans</a>
            </div>
            <div class="col-md-1">
                <a href="#injuries">Injuries</a>
            </div>
            <div class="col-md-1">
                <a href="#causes">Causes</a>
            </div>
            <div class="col-md-1">
                <a href="#signs">Signs</a>
            </div>
            <div class="col-md-1">
                <a href="#tags">Tags</a>
            </div>
            <div class="col-md-1">
                <a href="#symptoms">Symptoms</a>
            </div>
            <div class="col-md-1">
                <a href="#bodypart">Body Part</a>
            </div>
            <div class="col-md-2">
                <a href="#bodyregion">Body Region</a>
            </div>
        </div>
    </div>
    
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminVideos.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminExercises.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminEquipment.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminPlans.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminSigns.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminCauses.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminInjuries.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminBodyParts.cshtml"); }
    @{Html.RenderPartial("~/Areas/Admin/Views/Index/_adminBodyRegions.cshtml"); }

</div>
