<div class="container push-down-sm" id="patient-dashboard-page">
    <h2>Patient Dashboard</h2>
    <div>
        <div class="row push-down-lg">
            <!-- sidebar -->
            <div class="col-md-3 sidebar">
                <div class="section-menu">
                    <ul class="nav nav-list">
                        <li ng-class="{'active' : selectedTab == 'caseDisplay' }">
                            <a ng-click="onTabSelect('caseDisplay')" class="first"><span>Recent</span><small>Your current case activity</small></a>
                        </li>
                        <li ng-class="{'active' : selectedTab == 'history' }">
                            <a ng-click="onTabSelect('history')"><span>History</span><small>Access all your cases</small></a>
                        </li>
                        <li ng-class="{'active' : selectedTab == 'bookmarks' }">
                            <a ng-click="onTabSelect('bookmarks')"><span>Bookmarks</span><small>Site content favorited</small></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'caseDisplay' }">
                        <patient-case-display />
                    </div>
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'history' }">
                        <patient-case-list /> 
                    </div>
                    <div class="tab-pane" ng-class="{'active' : selectedTab == 'bookmarks' }">
                        <patient-bookmark-display />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
