<div class="container" id="patient-dashboard-page">
    <h2>Patient Dashboard</h2>
    <h2>Snipsnot</h2>
    <div>

        <div style="height: 305px">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                    <div class="carousel-caption">
                        <h4>Slide {{$index}}</h4>
                        <p>{{slide.text}}</p>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
   
   
    <div class="push-down-md">
        <patient-case-list />
    </div>
    <h3>Bookmarks</h3>
    <div class="row push-down-md">
        <div class="col-md-3">
            <h4>Exercises</h4>
            <table class="table table-striped">
                <tr ng-repeat="exercise in currentUser.exercises">
                    <td><a ng-href="/#!/research/exercises/{{exercise.entityId}}">{{exercise.entityName}}</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h4>Plans</h4>
            <table class="table table-striped">
                <tr ng-repeat="plan in currentUser.plans">
                    <td><a ng-href="/#!/research/plans/{{plan.entityId}}">{{plan.entityName}}</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h4>Injuries</h4>
            <table class="table table-striped">
                <tr ng-repeat="injury in currentUser.injuries">
                    <td><a ng-href="/#!/research/injuries/{{injury.entityId}}">{{injury.entityName}}</a></td>
                </tr>
            </table>
        </div>
    </div>

</div>

