<div class="row push-down-md">
    <div class="container">
        <div class="wrap" ng-show="snapshot.activeCases.length > 0">
            <div class="scrollbar">
                <div class="handle" style="transform: translateZ(0px) translateX(114px); width: 190px;">
                    <div class="mousearea"></div>
                </div>
            </div>
            <div class="frame" sly-options="slyOptions" id="basicSly">
                <ul>
                    <li ng-repeat="caseSnapshot in snapshot.activeCases" ng-click="showCaseSnapshot(caseSnapshot)" sly-horizontal-repeat sly-options="slyOptions">
                        <h4><i class="icon-sportswebpt-medkit"></i> Active Case </h4>
                        <div class="push-down-md">
                            {{caseSnapshot.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-show="snapshot.activeCases.length == 0">
            <h2>You currently have no active cases</h2>
        </div>
        <div class="row" ng-show="caseSnapshot">
            <div class="row well">
                <section ng-if="caseSnapshot.lastSession.fee > 0 && !caseSnapshot.lastSession.hasPaid">
                    <session-pay session="caseSnapshot.lastSession"></session-pay>
                </section>
                <section ng-if="caseSnapshot.lastSession.fee === 0 || caseSnapshot.lastSession.hasPaid">
                    <div class="col-md-6">
                        <section ng-show="caseSnapshot.lastAssignment.length > 0">
                            <h4><i class="icon-sportswebpt-clipboard3"></i> Current Assignment</h4>
                            <div>
                                <table class="table table-striped">
                                    <tbody>
                                        <tr ng-repeat="assignment in caseSnapshot.lastAssignment">
                                            <td><a ng-click="showAssignment(assignment)">{{assignment.routineName}}</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                        <section ng-show="caseSnapshot.lastAssignment.length == 0">
                            <h4>No Current Assignment</h4>
                        </section>
                    </div>
                </section>

                <div class="col-md-6">
                    <section ng-show="caseSnapshot.nextSession">
                        <h4><i class="icon-sportswebpt-calendar1"></i> Next Session</h4>
                        <patient-session-detail session="caseSnapshot.nextSession"></patient-session-detail>
                    </section>
                    <section ng-show="!caseSnapshot.nextSession">
                        <h4>No Future Session Scheduled</h4>
                    </section>
                </div>
            </div>
            <div class="row well" ng-show="selectedPlan">
                <session-plan-view plan="selectedPlan" />
            </div>
        </div>
    </div>
</div>

