<div>
    <form name="loginForm" method="post" action="{{model.loginUrl}}">
        <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
        <div class="form-group" ng-class="{'has-error': rc.loginForm.needsAttention(loginForm.username)}">
            <div class="input-group">
                <span class="input-group-addon icon-sportswebpt-user"></span>
                <input class="form-control" name="username" type="text" ng-model="user.username" placeholder="Username" ng-minlength="6" ng-maxlength="12" required>
            </div>
        </div>
        <div class="form-group" ng-class="{'has-error': rc.loginForm.needsAttention(signUpForm.signupPassword)}">
            <div class="input-group ">
                <span class="input-group-addon icon-sportswebpt-suitcase3"></span>
                <input class="form-control" id="password" name="password" type="password" ng-model="user.password" placeholder="Password" required>
            </div>
        </div>
        <div align="center" class="form-group">
            <button class="btn btn-primary" type="submit" ng-disabled="loginForm.$invalid">Login</button>
            <a class="btn btn-default" onclick="window.history.go(-1); return false;">Cancel</a>
        </div>
        <div ng-show="model.errorMessage" class="alert alert-danger">
            <strong>Error:</strong>
            {{model.errorMessage}}
        </div>
    </form>
</div>
