<div>
    <div class="modal-header">
        <h3 class="modal-title">Shared Listing: {{planName}}</h3>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate rc-submit="submit()" name="sharedPlanForm">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Clinic</th>
                    <th>Shared</th>
                </tr>
            </thead>
            <tr ng-repeat="plan in sharedPlans">
                <td>{{plan.clinicName}}</td>
                <td><input type="checkbox" ng-checked="plan.isActive" ng-model="plan.isActive" /></td>
            </tr>
        </table>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button ng-click="reset()" type="reset" class="btn btn-primary">Cancel</button>
        </div>

    </form>
</div>
