<div>
    <div class="modal-header">
        <h3 class="modal-title">Create New Session</h3>
    </div>
</div>
<div class="modal-body">
    <form class="form-horizontal" novalidate rc-submit="submit()" name="createSessionForm">
        <div class="form-group">
            <label class="control-label col-lg-3">Session Type</label>
            <div class="col-lg-9">
                <select class="input-sm" name="sessionType"  ng-model="session.sessionType">
                    <option value="">-- Select Type -- </option>
                    <option value="Physical">Physical</option>
                    <option value="Video">Video</option>
                    <option value="Audio">Audio</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="session.time" is-open="opened" min-date="minDate" max-date="'2015-06-22'"  ng-required="true" ng-disabled ="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <timepicker ng-model="session.time" ng-change="changed()" hour-step="timePicker.hStep" minute-step="timePicker.mStep" show-meridian="timePicker.showMeridian" meridians="timePicker.meridians"></timepicker>
                </div>
                <div class="col-md-6">
                    <select class="input-sm" name="sessionDuration" ng-model="session.duration">
                        <option value="30">30</option>
                        <option value="15">15</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-3">Session Notes</label>
            <div class="col-lg-9" ng-class="{'has-error': rc.createSessionForm.needsAttention(createSessionForm.sessionNotes)}">
                <input type="text" class="form-control" name="sessionNotes" ng-model="session.notes" placeholder="Notes" ng-minlength="2" ng-maxlength="10000">
            </div>
        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Save changes</button>
            <button ng-click="reset()" type="reset" class="btn btn-primary">Cancel</button>
        </div>

    </form>
    <div ng-show="session.sessionType === 'Video'">
        <div>
            <button class="btn btn-info" ng-click="launchGTM()">Log into GoToMeeting</button>
        </div>
    </div>

</div>
